<div class="section"><div fade-opacity="" class="w-layout-grid content-grid-values"><div id="w-node-_38a08c70-c537-5975-cdac-ca3216de3707-3fe1ffe9" class="values-item-wrapper"><div class="value-image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image_value_1.alt }}" src="{{ section.settings.image_image_value_1 | img_url: 'master' }}">
</div><div class="description-wrapper"><div class="text-label">
{{ section.settings.text_value_title_1 }}
</div>
<div class="description"> {{ section.settings.richtext_value_description_1 }} </div>
</div></div><div id="w-node-_38a08c70-c537-5975-cdac-ca3216de3712-3fe1ffe9" class="values-item-wrapper"><div class="value-image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image_value_2.alt }}" src="{{ section.settings.image_image_value_2 | img_url: 'master' }}">
</div><div class="description-wrapper"><div class="text-label">
{{ section.settings.text_value_title_2 }}
</div>
<div class="description"> {{ section.settings.richtext_value_description_2 }} </div>
</div></div><div id="w-node-_38a08c70-c537-5975-cdac-ca3216de371d-3fe1ffe9" class="values-item-wrapper"><div class="value-image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image_value_3.alt }}" src="{{ section.settings.image_image_value_3 | img_url: 'master' }}">
</div><div class="description-wrapper"><div class="text-label">
{{ section.settings.text_value_title_3 }}
</div>
<div class="description"> {{ section.settings.richtext_value_description_3 }} </div>
</div></div><div id="w-node-_38a08c70-c537-5975-cdac-ca3216de3728-3fe1ffe9" class="values-item-wrapper"><div class="value-image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image_value_4.alt }}" src="{{ section.settings.image_image_value_4 | img_url: 'master' }}">
</div><div class="description-wrapper"><div class="text-label">
{{ section.settings.text_value_title_4 }}
</div>
<div class="description"> {{ section.settings.richtext_value_description_4 }} </div>
</div></div><div id="w-node-_38a08c70-c537-5975-cdac-ca3216de3730-3fe1ffe9" class="values-item-wrapper"><div class="value-image-wrapper"><img loading="lazy" alt="{{ section.settings.image_image_value_5.alt }}" src="{{ section.settings.image_image_value_5 | img_url: 'master' }}">
</div><div class="description-wrapper"><div class="text-label">
{{ section.settings.text_value_title_5 }}
</div>
<div class="description"> {{ section.settings.richtext_value_description_5 }} </div>
</div></div></div></div> {% schema %} {"tag":"div","name":"brand-values","class":"section-values _6vw from-tablet-less","settings":[{"id":"image_image_value_1","type":"image_picker","label":"image-value-1"},{"id":"text_value_title_1","type":"text","label":"value-title-1","default":"Rooted in Tradition"},{"id":"richtext_value_description_1","type":"richtext","label":"value-description-1","default":"<p>Our approach draws on <span class=\"no-wrap\">centuries-old<\/span> knowledge, reimagined for today\u2019s skin needs.<\/p>"},{"id":"image_image_value_2","type":"image_picker","label":"image-value-2"},{"id":"text_value_title_2","type":"text","label":"value-title-2","default":"Clean &amp; Conscious"},{"id":"richtext_value_description_2","type":"richtext","label":"value-description-2","default":"<p>No fillers or harsh stuff, just <span class=\"no-wrap\">skin-loving<\/span> formulas that care for you and the planet.<\/p>"},{"id":"image_image_value_3","type":"image_picker","label":"image-value-3"},{"id":"text_value_title_3","type":"text","label":"value-title-3","default":"Earth-Grown Goodness"},{"id":"richtext_value_description_3","type":"richtext","label":"value-description-3","default":"<p>Powered by <span class=\"no-wrap\">nutrient-rich<\/span> plants, seeds, and fruits that feed your skin.<\/p>"},{"id":"image_image_value_4","type":"image_picker","label":"image-value-4"},{"id":"text_value_title_4","type":"text","label":"value-title-4","default":"Raw &amp; Nourishing"},{"id":"richtext_value_description_4","type":"richtext","label":"value-description-4","default":"<p>Unrefined botanicals in their purest form, nothing watered down.<\/p>"},{"id":"image_image_value_5","type":"image_picker","label":"image-value-5"},{"id":"text_value_title_5","type":"text","label":"value-title-5","default":"Grows With You"},{"id":"richtext_value_description_5","type":"richtext","label":"value-description-5","default":"<p>Skincare that evolves with your skin, in tune with your natural rhythm.<\/p>"}],"presets":[{"name":"brand-values","category":"Liquify","blocks":[]}]} {% endschema %}