<div class="padding-global padding-section-medium"><div fade-opacity="" class="w-layout-grid content-grid-values">{% for block in section.blocks %}
    {% if block.type == "brand-value" %}
                    <div li-block="Brand Value" id="w-node-e3d46d59-9b11-939c-bc9b-84d714ce84f8-0eb61907" class="values-item-wrapper">
                                    
                                    <div class="value-image-wrapper"><img loading="lazy" alt="{{ block.settings.image_value_image.alt }}" src="{{ block.settings.image_value_image | img_url: 'master' }}">
</div>
                                    
                                    <div class="description-wrapper"><div class="text-label">
{{ block.settings.text_value_headline }}
</div>
<p class="description">
{{ block.settings.text_value_description }}
</p>
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
{% for block in section.blocks %}
    {% if block.type == "brand-value" %}
                    <div li-block="Brand Value" id="w-node-e3d46d59-9b11-939c-bc9b-84d714ce8503-0eb61907" class="values-item-wrapper">
                                    
                                    <div class="value-image-wrapper"><img loading="lazy" alt="{{ block.settings.image_value_image.alt }}" src="{{ block.settings.image_value_image | img_url: 'master' }}">
</div>
                                    
                                    <div class="description-wrapper"><div class="text-label">
{{ block.settings.text_value_headline }}
</div>
<p class="description">
{{ block.settings.text_value_description }}
</p>
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
{% for block in section.blocks %}
    {% if block.type == "brand-value" %}
                    <div li-block="Brand Value" id="w-node-e3d46d59-9b11-939c-bc9b-84d714ce850e-0eb61907" class="values-item-wrapper">
                                    
                                    <div class="value-image-wrapper"><img loading="lazy" alt="{{ block.settings.image_value_image.alt }}" src="{{ block.settings.image_value_image | img_url: 'master' }}">
</div>
                                    
                                    <div class="description-wrapper"><div class="text-label">
{{ block.settings.text_value_headline }}
</div>
<p class="description">
{{ block.settings.text_value_description }}
</p>
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
{% for block in section.blocks %}
    {% if block.type == "brand-value" %}
                    <div li-block="Brand Value" id="w-node-e3d46d59-9b11-939c-bc9b-84d714ce8519-0eb61907" class="values-item-wrapper">
                                    
                                    <div class="value-image-wrapper"><img loading="lazy" alt="{{ block.settings.image_value_image.alt }}" src="{{ block.settings.image_value_image | img_url: 'master' }}">
</div>
                                    
                                    <div class="description-wrapper"><div class="text-label">
{{ block.settings.text_value_headline }}
</div>
<p class="description">
{{ block.settings.text_value_description }}
</p>
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
{% for block in section.blocks %}
    {% if block.type == "brand-value" %}
                    <div li-block="Brand Value" id="w-node-e3d46d59-9b11-939c-bc9b-84d714ce8521-0eb61907" class="values-item-wrapper">
                                    
                                    <div class="value-image-wrapper"><img loading="lazy" alt="{{ block.settings.image_value_image.alt }}" src="{{ block.settings.image_value_image | img_url: 'master' }}">
</div>
                                    
                                    <div class="description-wrapper"><div class="text-label">
{{ block.settings.text_value_headline }}
</div>
<p class="description">
{{ block.settings.text_value_description }}
</p>
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
</div></div> {% schema %} {"tag":"div","name":"Brand Values","class":"section_brand-values","blocks":[{"name":"Brand Value","type":"brand-value","settings":[{"id":"image_value_image","type":"image_picker","label":"Value Image"},{"id":"text_value_headline","type":"text","label":"Value Headline","default":"Rooted in Tradition"},{"id":"text_value_description","type":"text","label":"Value Description","default":"Our approach draws on <span class=\"no-wrap\">centuries-old<\/span> knowledge, reimagined for today\u2019s skin needs."}]},{"type":"@app"}],"presets":[{"name":"Brand Values","category":"Liquify","blocks":[{"type":"brand-value"}]}]} {% endschema %}