<div li-element="navbar" fs-scrolldisable-element="smart-nav" x-data="" class="nav_component relative"><div class="nav_container"><div class="nav-left"><div aria-expanded="false" class="nav_menu-button"><div id="menuTrigger" aria-controls="dropdownMenu" aria-expanded="false" aria-haspopup="true" aria-label="Open mobile navigation" class="menu-icon"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewbox="0 0 192 134.75" width="100%" fill="currentColor" class="menu-bars"><path class="cls-1" d="m5.26,72.62c-2.9,0-5.26-2.35-5.26-5.25s2.36-5.24,5.26-5.24h181.49c2.9,0,5.26,2.35,5.26,5.24s-2.36,5.25-5.26,5.25H5.26Z"></path><path class="cls-1" d="m5.26,134.75c-2.9,0-5.26-2.35-5.26-5.25s2.36-5.25,5.26-5.25h181.49c2.9,0,5.26,2.35,5.26,5.25s-2.36,5.25-5.26,5.25H5.26Z"></path><path class="cls-1" d="m5.26,10.49c-2.9,0-5.26-2.35-5.26-5.25S2.36,0,5.26,0h181.49c2.9,0,5.26,2.35,5.26,5.25s-2.36,5.25-5.26,5.25H5.26Z"></path></svg></div><div id="closeIcon" aria-label="Close mobile menu" class="close-menu-icon"><div class="plus-icon menu-version"><svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" viewbox="0 0 24 24" fill="none" app="ikonik" class="plus-paths"><path d="M13 6.5V11L17.5 11V13L13 13V17.5H11L11 13L6.5 13L6.5 11H11L11 6.5L13 6.5Z" fill="currentColor" app="ikonik" class="plus-path"></path></svg></div></div></div><div class="nav-menu">{% for link in linklists['main-menu'].links %}    <div data-hover="false" data-delay="200" li-for="link in linklists['main-menu'].links" class="nav_menu-dropdown w-dropdown">
                                    
                            <div class="nav_dropdown-toggle w-dropdown-toggle"><a hover-target="" li-object:href="link.url" href="{{ link.url }}" class="nav-link w-inline-block"><div class="nav-text"><div li-object="link.title">{{ link.title }}</div>{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="dropdown-icon w-embed">
    <svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg>    </div>
{% endif %}</div><div class="underline light"></div></a></div>
                            
                            {% if link.links.size > 0  %}    <nav li-if="link.links.size > 0 " class="nav_dropdown-list no-scrollbar w-dropdown-list">
    <div class="padding-global max-width-full"><div class="container-large"><div class="nav_dropdown-grid"><div id="w-node-e87644ba-5e5c-3c2d-e7b1-28b15dd88a5f-5dd88a44" class="product_list-wrapper centered w-dyn-list"><div role="list" class="product_list six-products w-dyn-items">{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div id="w-node-e87644ba-5e5c-3c2d-e7b1-28b15dd88a61-5dd88a44" role="listitem" class="product_list-item simplified w-dyn-item">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div><div id="w-node-e87644ba-5e5c-3c2d-e7b1-28b15dd88a66-5dd88a44" class="nav-deskop-menu-container"><a hover-target="" href="{{ section.settings.url_discover_the_brand_all_products }}" class="button-text w-inline-block"> <div li-object="link.title" class="button-label text-color-white">{{ link.title }}</div><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 20 9" class="button-arrow text-color-white"><g id="WIP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Artboard-Copy-20" transform="translate(-1260.000000, -882.000000)" fill="currentColor"><g id="Group-4" transform="translate(738.000000, 843.000000)"><path d="M537.159111,42.9936385 L537.159111,39.5 L542,43.5 L537.159111,47.5 L537.159111,44.0063615 L522,44.0063615 L522,42.9936385 L537.159111,42.9936385 Z" id="Combined-Shape"></path></g></g></g></svg> </a>
</div></div></div></div>    </nav>
{% endif %}
                            
                        </div>
{% endfor %}</div><a hover-target="" href="{{ section.settings.url_best_sellers_nav_link }}" class="nav-link hide-tablet w-inline-block"> <div class="nav-text"><div li-object="link.title">{{ link.title }}</div></div><div class="underline light"></div> </a>
<a hover-target="" href="{{ section.settings.url_our_story_nav_link }}" class="nav-link hide-tablet w-inline-block"> <div class="nav-text"><div li-object="link.title">{{ link.title }}</div></div><div class="underline light"></div> </a>
<div class="nav_search from-tablet"><div id="search-toggle-tablet" aria-label="Open search" class="nav_shop-icon"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0px" y="0px" viewbox="0 0 192.5 194" style="enable-background:new 0 0 192.5 194;" width="100%" fill="currentColor" class="icon-embed-xsmall"><path d="M187.2,193c-1.7,0-3.9-1.4-6.9-4.4c-8.4-8.6-16.8-17.1-25.2-25.8c-3.8-3.8-11.9-12.2-11.9-12.2l-0.7,0.6  c-16.6,13.6-36.1,20.7-56.1,20.7c-25,0-48.9-11.2-65.5-30.6C7.2,125.3,0.2,104.6,1.1,83C2,61.3,10.7,41.2,25.6,26.2  C41.6,9.9,63.3,1,86.4,1c20.4,0,40,7.2,55.2,20.3c16.7,14.4,27.5,35,29.9,56.7c2.5,23.2-4.8,46.2-20.5,64.9l-0.6,0.7l9.9,10.3  c8.8,9.2,17.8,18.6,26.8,27.9c5.3,5.5,5.1,7.6,3,9.8C189.1,192.5,188.2,193,187.2,193z M85,10.6c-19.7,0.2-38.4,8.2-52.7,22.5  C17.9,47.5,10.1,66.3,10.3,86c0.5,47.9,39.6,76.4,77.2,76.4l0.8,0c40.8-0.4,74-34.5,74-76.1l0-2.4l0,0c-0.4-18.7-8.3-37.1-21.8-50.7  c-14.5-14.6-33.9-22.7-54.6-22.7L85,10.6z"></path></svg></div></div></div><a href="{{ routes.root_url }}" li-object:href="routes.root_url" id="w-node-e87644ba-5e5c-3c2d-e7b1-28b15dd88a7a-5dd88a44" class="nav_logo-link w-nav-brand"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewbox="0 0 806.7 343.32" width="100%" fill="currentColor" class="nav_logo"><g><path class="cls-1" d="m76.4,302.22c-5.5,7.1-10.1,10.9-13.9,11.3-3.7.5-7.3.8-10.7.8s-6.6.1-9.8.2v-39.4l4.8.2c4.4.5,7.8,2.6,10,6.4s3.4,8.3,3.4,13.4h2.2v-41.7h-2.2c0,5-1.1,9.4-3.4,13.1s-5.6,5.8-10,6.2l-4.8.2.2-37.6h1c.8,0,2.6,0,5.2.1,2.6.1,5.8.3,9.6.7s8.5,3.5,14,9.3c5.6,5.8,10.3,13,14.2,21.6h1.8v-33.9H0v1.8c1.1.1,2.3.1,3.6.2,1.3,0,2.8.2,4.5.4,1.6.2,2.9.8,3.8,1.8s1.5,2.7,1.7,5.2l.2,5.3v54.3l-.2,5.3c-.2,2.4-.8,4.1-1.7,5.1s-2.1,1.5-3.8,1.7c-1.6.2-3.1.4-4.4.5s-2.5.2-3.4.2v1.8h90v-36.4h-1.8c-2.5,7.6-6.6,14.8-12.1,21.9h0Z"></path><path class="cls-1" d="m128.1,313.22c-.5-.9-.7-2.7-.7-5.4l-.1-5.3v-69.2h-31v1.8l3.9.2c2.4.2,3.8.8,4.1,1.7.3.9.5,2.3.7,4.1l.1,4.7v56.6l-.1,5.3c0,2.8-.2,4.7-.7,5.5s-1.8,1.4-4,1.6l-2.8.1v1.8h37.3v-1.8l-2.8-.1c-2.1-.2-3.5-.7-3.9-1.6h0Z"></path><path class="cls-1" d="m143.6,307.82c0,2.8-.2,4.7-.7,5.5s-1.8,1.4-4,1.6l-2.8.1v1.8h37.2v-1.8l-2.8-.1c-2.2-.2-3.6-.8-4-1.7s-.7-2.7-.7-5.4l-.1-5.3v-40h-30.1v1.8l3.1.2c2.4.2,3.8.8,4.1,1.7s.5,2.3.7,4.1l.1,4.7v32.8h0Z"></path><path class="cls-1" d="m154.6,254.32c3.1,0,5.8-1,8-3.1s3.3-4.7,3.3-7.7-1.1-5.7-3.3-7.7-4.9-3-8-3-5.7,1.1-7.9,3.1c-2.2,2.1-3.3,4.6-3.3,7.6s1.1,5.6,3.3,7.7c2.2,2,4.8,3.1,7.9,3.1h0Z"></path><path class="cls-1" d="m174.1,264.32l4.2.2c2.4.2,3.8.8,4.1,1.7s.5,2.3.7,4.1l.1,4.7v39.1l-.1,12c0,4.5-.5,8.1-1.4,10.9s-2.6,4.1-5,4.1c-1.1,0-2-.2-2.6-.5s-.9-.8-.9-1.4c0-.8.7-1.9,2.1-3.5,1.4-1.6,2.1-3.4,2.1-5.4,0-2.7-1-4.9-3.1-6.5s-4.4-2.5-7.1-2.5-5.2.9-7.3,2.8-3.2,4.2-3.2,6.9c0,4.4,1.8,7.5,5.3,9.4s8,2.9,13.4,2.9c7.6,0,14.4-2.6,20.4-7.7s9-10.6,9-16.3c0-.3.1-1.4.2-3.3s.2-3.6.2-5.3v-48.1h-31.3l.2,1.7h0Z"></path><path class="cls-1" d="m194,254.32c3.1,0,5.8-1,8-3.1s3.3-4.7,3.3-7.7-1.1-5.7-3.3-7.7-4.9-3-8-3-5.7,1.1-7.9,3.1c-2.2,2.1-3.3,4.6-3.3,7.6s1.1,5.6,3.3,7.7,4.8,3.1,7.9,3.1h0Z"></path><path class="cls-1" d="m276.6,307.82c-.7,2.3-2,3.4-3.8,3.4-1.5,0-2.5-.7-2.8-2.1-.5-1.3-.7-3.2-.7-5.6v-26.4c0-5.4-2.6-9.3-7.8-11.9s-10.9-3.9-17.1-3.9c-7.4,0-13.7,1.4-19,4.2s-8,6.6-8,11.4c0,2.4,1,4.3,2.9,5.7s4.2,2.1,6.8,2.1c4.8,0,8.2-.9,10.3-2.8s3.2-4,3.2-6.3c0-2.5-.8-4.4-2.4-5.7-1.6-1.3-2.4-2.3-2.4-3.2,0-1.1.5-2,1.5-2.6s2.3-1,3.8-1c2.4,0,4,.6,4.8,2,.8,1.3,1.1,3.4,1.1,6.4l.1,10.5c0,1.4-.4,2.4-1.3,2.9-.8.6-2.2,1.1-4.2,1.6s-5,.9-9.1,1.3-7.2.8-9.2,1.4c-2,.5-3.9,2-5.8,4.3s-2.9,5.4-2.9,9.2c0,4.8,1.5,8.5,4.6,11.1,3.1,2.7,7,4,11.9,4,4.6,0,8.3-.8,11.2-2.3s4.9-3.9,6.1-7c.5,2.8,2.1,5.1,4.6,6.8s5.5,2.5,8.8,2.5c3,0,5.4-.3,7.3-.9s4.1-1.9,6.5-4.1c2.4-2.1,3.6-6.6,3.6-13.3h-1.6c0,3.3-.3,6-1,8.3h0Zm-29.5,0c-.3,1.3-1,2.5-2.1,3.7s-2.4,1.7-3.8,1.7c-1.9,0-3.1-1-3.6-3.1s-.8-4.8-.8-8.2c0-2.3.2-4.5.6-6.7.4-2.2,1-3.6,1.7-4.4s2-1.5,3.9-2.4c1.9-.8,3.1-1.7,3.8-2.6l.3.1v21.9h0Z"></path><path class="cls-1" d="m290.4,232.62c-3.1,0-5.5,1-7.5,3-1.9,2-2.9,4.5-2.9,7.4,0,2.7.9,4.9,2.8,6.6s4.1,2.6,6.8,2.6c.9,0,1.9-.2,2.9-.7s1.8-.8,2.4-.8c.4,0,.7.2.9.6.2.4.3,1,.3,1.7,0,3.3-1.5,6.3-4.6,8.9-3,2.6-6.4,3.9-10.1,3.9l.2,1.7c6,0,11-2,15.2-6.1,4.2-4,6.3-8.9,6.3-14.5,0-3.9-1.2-7.2-3.6-10-2.3-2.9-5.4-4.3-9.1-4.3h0Z"></path><path class="cls-1" d="m347.9,285.42c-2.5-1.7-5.4-3.4-8.5-5.1s-5.7-3.1-7.5-4.2-3.2-2.2-4.2-3.1c-1-1-1.4-2.4-1.4-4.1,0-1.5.7-2.8,2-3.8s3.1-1.5,5.2-1.5c3,0,5.4.6,7.3,1.8s3.7,3,5.4,5.2c1.7,2.3,3,4.5,4,6.7.9,2.2,1.7,4.2,2.3,6.1h1.5v-23h-1.6c0,1.8-.4,3.3-1.1,4.6s-1.7,2-2.8,2c-2.6-1.2-5.2-2.5-7.7-3.8-2.6-1.1-5.4-1.6-8.2-1.6-6.2,0-11.4,1.5-15.7,4.6-4.3,3.1-6.4,7.5-6.4,13.1,0,2.6.5,4.9,1.7,6.9,1.1,2,2.7,3.8,4.7,5.3,2,1.6,4.5,3.2,7.6,4.8,3,1.6,5.7,3.1,8,4.5,2.3,1.3,4,2.6,5,3.7s1.6,2.9,1.6,5.3c0,1.8-.7,3.3-2.1,4.3s-3,1.5-4.9,1.5c-3.4,0-6.2-.7-8.5-2.2s-4.5-3.6-6.5-6.5-4-7.5-6-13.6h-1.5v25.7h1.6c.1-1.8.6-3.5,1.4-5.2.8-1.6,1.6-2.4,2.6-2.4,3,1.6,6,3.2,9,4.7,3.1,1.4,6.3,2.1,9.6,2.1,6.3,0,11.7-1.5,16.2-4.5s6.7-7.4,6.7-13.3c0-3.2-.8-6-2.5-8.5s-3.8-4.8-6.3-6.5h0Z"></path><path class="cls-1" d="m458.2,235.12c1.1.1,2.2.1,3.5.2,1.3.1,2.9.3,5,.6s3.6,1.1,4.6,2.4c1,1.3,1.7,3.1,1.9,5.6l.2,5.5v36.5h-.4l-41.2-52.7h-43.8v1.8h3.5c1.5,0,3.1.3,4.8.8,1.6.5,3.2,1.5,4.5,2.9,1.4,1.4,2.6,2.9,3.6,4.5l.2,5.3v52.1l-.2,5.5c-.5,4.7-2.2,7.2-5.4,7.7-3.1.5-5.3.8-6.5.9s-2.3.1-3.3.2v1.8h33.1v-1.8c-.5-.1-1.5-.1-3-.2s-3.3-.3-5.4-.6c-2.1-.3-3.7-1.1-4.7-2.3-1-1.2-1.7-3.1-1.9-5.6l-.2-5.5v-53.5h.5l54.4,69.6h14v-66.9l.2-5.5c.2-2.4.9-4.4,2-5.8,1.1-1.4,2.7-2.3,4.9-2.6,2.1-.4,3.8-.6,5-.6,1.2-.1,2.3-.1,3.3-.2v-1.8h-33l-.2,1.7h0Z"></path><path class="cls-1" d="m556.2,307.82c-.7,2.3-2,3.4-3.8,3.4-1.5,0-2.5-.7-2.8-2.1-.5-1.3-.7-3.2-.7-5.6v-26.4c0-5.4-2.6-9.3-7.8-11.9s-10.9-3.9-17.1-3.9c-7.3,0-13.7,1.4-19,4.2s-8,6.6-8,11.4c0,2.4,1,4.3,2.9,5.7s4.2,2.1,6.8,2.1c4.8,0,8.2-.9,10.3-2.8,2.1-1.9,3.2-4,3.2-6.3,0-2.5-.8-4.4-2.4-5.7s-2.4-2.3-2.4-3.2c0-1.1.5-2,1.5-2.6s2.3-1,3.8-1c2.4,0,4,.6,4.8,2,.8,1.3,1.1,3.4,1.1,6.4l.1,10.5c0,1.4-.4,2.4-1.3,2.9s-2.2,1.1-4.2,1.6-5,.9-9.1,1.3c-4.1.4-7.2.8-9.2,1.4-2,.5-3.9,2-5.8,4.3s-2.9,5.4-2.9,9.2c0,4.8,1.5,8.5,4.6,11.1,3,2.7,7,4,11.9,4,4.6,0,8.3-.8,11.2-2.3,2.9-1.5,4.9-3.9,6.1-7,.5,2.8,2.1,5.1,4.6,6.8s5.5,2.5,8.8,2.5c3,0,5.4-.3,7.3-.9,1.9-.6,4.1-1.9,6.5-4.1,2.4-2.1,3.6-6.6,3.6-13.3h-1.6c.1,3.3-.3,6-1,8.3h0Zm-29.5,0c-.3,1.3-1,2.5-2.1,3.7s-2.4,1.7-3.8,1.7c-1.9,0-3.1-1-3.6-3.1s-.8-4.8-.8-8.2c0-2.3.2-4.5.6-6.7.4-2.2,1-3.6,1.7-4.4s2-1.5,3.8-2.4c1.8-.8,3.1-1.7,3.8-2.6l.3.1v21.9h.1Z"></path><path class="cls-1" d="m601.5,310.12c-1.4,2.5-3.5,3.7-6.5,3.7-2.2,0-4-.8-5.5-2.5s-2.2-4.2-2.2-7.5l-.2-5.8v-31.2h13.3l1.6-4.4h-14.9v-22.8h-3.1c-.9,1.9-2.2,4.1-4,6.4-1.7,2.4-3.9,4.8-6.5,7.3s-5.3,4.7-8.1,6.5c-2.8,1.9-5.5,3.1-8.1,3.8v3.1h7.8v35.4c0,5,2,8.8,6.1,11.6,4.1,2.8,8.8,4.1,14.1,4.1,8.3,0,13.7-1.6,16.2-4.9s3.8-7,3.8-11.3h-1.6c-.1,3.2-.8,6-2.2,8.5h0Z"></path><path class="cls-1" d="m671.1,313.22c-.7-.8-1-2.2-1-4.3l-.1-4.7v-41.7h-32.1v1.8l3.5.2c2.5.3,4.2.9,5,1.8s1.2,2.6,1.2,5.2l.2,5.3v30.9c-.7,1.5-1.6,2.9-2.7,4.2s-2.9,2.1-5.3,2.1c-2.2,0-3.8-.8-4.9-2.4s-1.7-3.9-1.7-7l-.1-4.7v-37.5h-30.6v1.8l3.2.2c2.1.2,3.5.7,4.2,1.5s1,2.2,1,4.3l.1,4.7v25.4c0,5.4,2.1,9.7,6.2,12.7,4,3.1,8.7,4.7,14,4.7,4.5,0,8-.7,10.6-2.2s4.7-3.5,6.5-6.3v7.3h30.1v-1.8l-3.2-.2c-2.1,0-3.4-.5-4.1-1.3h0Z"></path><path class="cls-1" d="m724.2,261.82c-6.3,0-10.2,1.4-12,4.1s-2.8,4.8-3.4,6.2v-9.6h-29.8v1.8l3,.2c2.4.2,3.8.8,4.1,1.7s.5,2.3.7,4.1l.1,4.7v27.4l-.1,5.3c0,2.8-.2,4.7-.7,5.5s-1.8,1.4-4,1.6l-3.1.1v1.8h38.3v-1.8l-3.4-.2c-2.1-.2-3.4-.7-4-1.5-.5-.8-.8-2.2-.8-4.4l-.1-5.7v-26.5c0-2.1.7-4.3,2.2-6.6s3.2-3.5,5.2-3.5c.4,0,.8.3,1.1.8-.8,1.5-1.5,3-2.3,4.5-.7,1.6-1,3.4-1,5.3,0,2.6,1,4.9,3.2,6.9,2.1,2,4.6,3,7.5,3,3.5,0,6.5-1.2,8.9-3.5s3.6-5.2,3.6-8.8-1.3-6.5-3.8-9.1-5.7-3.7-9.4-3.8h0Z"></path><path class="cls-1" d="m788.7,308.72c-2.7,2.6-6.4,4-11.1,4-3.3,0-6-.8-8.1-2.5-2.2-1.6-3.8-3.8-5-6.5s-2-5.4-2.4-8.3-.6-5.7-.6-8.4h35.2c0-7.2-2.3-13.2-7-18.2s-11.4-7.4-20.2-7.4-15.6,2.6-21.6,8-9,12.1-9,20.3c0,8.9,2.9,15.8,8.7,20.8s13.2,7.5,22.3,7.5c6.4,0,12-1.6,16.8-4.9s8.2-7.7,10.3-13.5l-1.8-.8c-1.7,4-3.8,7.3-6.5,9.9h0Zm-27.1-31.3c.4-4.8,1-8.4,2-10.7s2.6-3.5,5.1-3.5c2.8,0,4.8,1.2,5.9,3.6,1.1,2.4,1.7,5.9,1.7,10.6v4.4c0,1.1.1,2.1.2,3h-15.1l.2-7.4h0Z"></path></g><g><path class="cls-1" d="m397.61,168.74h-.7c-.53,0-.88-.09-1.32-.09h-.98c-.17,0-.45,0-.53.09-.17,0-.26.09-.36.09s-.17.09-.36.09c-.09,0-.09.09-.09.09h-.09c-.06.06-.09.12-.09.17-.09.17-.17.36-.17.53s0,.36.09.53.09.36.17.62c0,.09.09.09.09.17.26.53.53,1.15.98,1.85.26.45.45.88.7,1.24.26.45.53.88.7,1.24s.36.62.53.88c.36.62.62.88.7.79.09-.17.7-.98,1.6-2.03.17-.17.36-.45.53-.7s.45-.53.62-.79.45-.53.62-.79c.17-.17.26-.36.45-.53.36-.45.7-.79.88-1.15.09-.09.09-.17.17-.26.09-.17.17-.36.26-.45.09-.09.09-.17.09-.26v-.26c0-.17-.09-.36-.26-.53-.53-.17-1.85-.36-4.24-.53h.01Z"></path><path class="cls-1" d="m433.34,176.84c.09-.25,1.6-2.02,3.36-3.96,2.78-3.2,2.52-3.62-2.52-3.96s-5.39.09-3.36,4.04c1.26,2.36,2.44,4.13,2.52,3.87h0Z"></path><path class="cls-1" d="m360.82,170.78h0c0,.1,0,.28.1.48v-.1.1c.2.67.67,1.43,1.15,2.5.58,1.15,1.15,2.11,1.63,2.88.2.28.28.48.48.67.1.1.2.28.28.38.1.1.1.2.2.28.2.2.28.28.28.2l.1-.1c.1-.1.28-.48.67-.87.28-.38.58-.77,1.05-1.25.58-.67,1.25-1.53,2.02-2.4,3.17-3.65,2.88-4.12-2.88-4.51h-1.35.67c-.48,0-.96-.1-1.35-.1h-1.15c-.38,0-.77.1-1.05.1-.28.1-.48.2-.67.28-.1.1-.2.2-.28.28v.1c-.1.1-.1.28-.1.38h0c0,.1,0,.28.1.38.07.13.1.23.1.28h0Z"></path><path class="cls-1" d="m384.8,181.31c-2.02-2.73-3.81-4.76-3.92-4.51s-1.67,2.86-3.33,5.59c-2.86,4.51-2.5,5,3.92,4.51,6.42-.47,6.78-1.08,3.33-5.59Z"></path><path class="cls-1" d="m414.19,183.95c5.6-.52,5.91-.93,3-4.87-1.77-2.39-3.31-4.14-3.43-3.94s-1.45,2.49-2.91,4.87c-2.6,4.04-2.18,4.46,3.31,3.94h.01Z"></path><path class="cls-1" d="m451.55,179.23c5.28-.4,5.58-.88,2.83-4.6-1.67-2.25-3.13-3.92-3.23-3.72s-1.37,2.35-2.75,4.6c-2.55,3.72-2.15,4.11,3.13,3.72h.01Z"></path><path class="cls-1" d="m298.38,123.86c.17.09.36.09.62.09.17,0,.36-.09.53-.09.09-.09.17-.17.26-.26.09-.09.09-.26.09-.45.17-.79.53-1.6.79-2.3,1.15-2.66,2.92-5.13,4.96-7.6,1.77,4.15,3.54,8.41,6.81,12.2-3.54,0-6.99.09-10.44.09h-2.66c.26.89.53,1.68.89,2.56.09.17.09.36.17.53h2.66c63.35-.09,126.78-.17,190.21-.36h2.66l.89-2.56c-.17,0-.36,0-.53-.09-.17,0-.36,0-.62-.09-.45-.09-.89-.17-1.32-.45-.17-.09-.26-.09-.45-.17-1.85-.98-3.45-2.66-4.43-4.51-1.77-3.19-2.66-6.99-5.13-9.64-.53-.53-1.15-1.06-1.85-1.06-.7.09-1.32.7-1.77,1.24-3.89,4.43-7.79,8.94-11.67,13.45-1.68-4.34-3.89-8.58-6.37-12.56-.89-1.32-2.04-2.83-3.62-2.66-.98.09-1.85.89-2.56,1.6-4.07,4.15-7.34,8.85-9.9,13.98-2.83-4.15-5.58-8.41-8.32-12.56-.79-1.24-2.04-2.66-3.45-2.3-.89.26-1.51,1.15-1.94,2.04-2.47,4.34-4.96,8.75-7.43,13.09-2.56-4.34-5.13-8.67-7.69-13.01-.62-.98-1.51-2.13-2.66-1.85-.53.17-.89.7-1.32,1.24-1.15,1.68-2.3,3.45-3.45,5.13-1.41-4.87,1.51-10.26,5.84-13.01s9.64-3.45,14.69-3.72,10.26-.17,15.13-1.77c7.07-2.21,14.07-7.69,21.14-5.49,6.02,1.85,10.26,9.03,16.54,8.49-.79-2.47-3.62-3.45-6.02-4.43-2.39-.98-5.04-2.83-4.77-5.39.36-3.19,4.51-3.98,7.6-3.98s7.34-.89,7.6-4.07c-5.22,2.83-12.3-.98-17.43,1.94-2.3,1.32-4.6,4.07-6.99,2.75-2.66-1.41-.79-5.58,1.32-7.79,3.89-3.81,7.96-7.43,11.15-11.86,3.09-4.34,5.39-9.73,4.6-15.22-3.54.89-4.34,8.22-5.58,10.88-2.66,5.84-9.03,9.03-13.09,13.98-2.47,3-4.07,6.54-6.37,9.73-2.21,3.09-5.49,6.02-9.37,6.28-2.39.17-1.85-2.3-1.68-3.89.26-1.41.53-2.83.89-4.34.17-.53.62-3.89,1.06-4.15-5.04,2.47-5.84,9.64-10.26,13.09-6.54,5.13-16.9,0-24.06,4.07,7.88-14.07,21.59-23.8,35.56-31.77,5.3-3,10.79-6.02,15.65-9.9,2.39-1.85,4.6-3.98,6.45-6.45,1.51-1.94,3.89-5.3,3.89-7.79-3.09,3.98-6.11,7.79-10.18,10.88-1.94,1.6-4.07,2.92-6.37,4.15-.7.36-6.64,2.66-6.64,3,.53-5.92,5.04-10.62,8.85-15.13,3.81-4.6,7.34-10.52,5.39-16.19-8.49,22.21-25.66,40.97-47.07,51.31,1.06-.53.09-7.26-.09-8.32-.36-2.3-.98-5.58-2.47-7.52.7,1.24.17,5.13.09,6.28-.17,2.39-.62,4.77-1.32,7.17-1.41,4.69-3.98,9.11-7.43,12.65-4.07-9.73-4.96-20.7-2.47-30.96.89-3.62,2.47-7.52,5.75-9.2,4.77-2.47,10.52.62,15.84,1.32,5.39.7,11.24-1.24,15.04-5.13-4.07,1.77-8.94,1.41-12.74-.98,4.43-6.54,10.09-12.2,16.8-16.46,3.62-2.3,7.96-4.77,8.75-9.03-9.29,5.22-17.87,11.77-25.48,19.2-2.13,2.13-5.39,4.43-7.79,2.66-2.04-1.6-1.41-4.77-.26-7.07,4.07-7.96,12.74-14.42,12.3-23.36-5.3,8.05-10.52,16.1-15.84,24.15-2.66,3.98-6.11,8.58-10.88,8.58-2.47-4.43-2.66-10.18-.36-14.78,2.13-4.24,6.02-7.34,9.47-10.62,3.36-3.36,6.54-7.52,6.45-12.3-4.96,5.84-9.82,11.67-14.78,17.61-1.6-2.56-1.06-5.75-1.06-8.75s-1.15-6.54-3.98-7.17c2.47,6.81,1.51,14.78-2.66,20.79-4.51-2.56-9.56-5.92-10-11.15-.36-4.34,2.75-9.29-.09-12.56-.79,3.72-1.51,7.52-2.21,11.24-.53,2.39-1.32,5.22-3.62,6.02-3.54,1.24-6.19-3-8.75-5.75-3.89-4.34-9.73-5.13-15.13-3.89,3.28-.17,6.11,1.51,8.14,3.89,2.21,2.56,3.89,5.66,6.54,7.69,5.22,4.15,13.01,3.45,18.4,7.43,4.24,3.09,6.11,8.75,6.02,13.98s-1.77,10.35-3.45,15.31c-3.36.7-6.37-2.3-7.52-5.49s-.89-6.64-1.68-10c-.7-3.36-2.83-6.73-6.11-7.26,4.07,3.54,2.75,10.18,1.15,15.31-5.58-11.77-13.8-21.32-23.89-29.47.17.17.36,3.28.53,3.72.45,1.32,1.15,2.3,2.21,3.28,1.85,1.85,4.15,3.19,6.19,4.96,6.37,5.66,8.05,15.22,13.98,21.32,3.19,3.28,7.43,5.49,10.26,9.11,5.04,6.45,4.15,15.57,3.09,23.72-5.39-15.57-21.76-23.98-31.94-36.9-5.75-7.26-9.56-16.01-15.84-22.91-.89-1.06-1.77-2.13-3.09-2.83-.17-.09-.36-.17-.53-.17-.36,0-.53.36-.53.7s.17.62.26.89c1.06,1.85,2.66,3.28,3.89,5.04,2.92,4.24,5.58,8.58,7.88,13.27,1.51,3,2.83,6.11,4.07,9.29-7.07.7-13.54-4.34-17.69-10.18-2.56-3.54-6.45-10-11.67-8.94,5.92,4.96,8.85,12.39,14.78,17.43,4.34,3.54,10,5.04,15.13,7.26,8.05,3.36,15.22,8.67,20.88,15.31,2.04,2.39,3.98,5.49,3.09,8.49-8.32-1.85-16.1-6.45-21.76-12.82.79,5.04,4.77,9.11,9.29,11.59,4.51,2.47,9.56,3.72,14.33,5.66,4.51,1.85,10.62,5.49,10.71,11.05.09,1.06-.36,2.13-1.32,2.66-2.3,1.15-5.3-.53-7.34-1.41-2.92-1.24-5.75-1.51-8.94-1.68-4.87-.26-9.82-.17-14.5-1.85-6.28-2.3-11.15-7.52-14.16-13.45-2.92-6.02-4.15-12.65-4.96-19.29-3.89.7-.79,7.79-3.81,10.35-1.06.89-2.66.89-3.98.36-4.69-1.94-4.69-8.41-6.11-13.27-1.77-5.92-6.81-10.71-12.74-12.2-.09,3,3.09,4.69,5.58,6.45,2.39,1.68,4.43,5.49,2.04,7.26-3.09,2.3-7.17-3.28-10.79-1.94,1.77,3.98,7.52,4.15,10.79,7.17,1.85,1.68,2.75,4.15,4.51,6.02,2.47,2.56,6.19,3.28,9.29,5.04,4.69,2.47,8.14,7.07,9.2,12.3-5.92-.53-12.03,1.41-17.69-.62-3.81-1.32-6.81-4.07-10-6.45-1.51-1.15-3.09-2.21-4.77-3-.98-.45-1.94-.7-3.09-.89-.45-.09-2.75.26-2.92.09,2.56,2.13,5.13,4.15,7.6,6.28-3.62-1.41-8.22.62-9.56,4.24,8.32-3.09,16.99,2.75,25.74,4.24,5.49.89,11.15.09,16.72.53,1.51.17,2.83.89,2.92.89,2.75.98,4.69,1.85,5.3,2.13,2.92,1.41,5.92,2.04,10.62,3,9.73,2.13,10.62.7,14.78,2.47,2.39,1.06,5.75,3,9.03,7.43-1.15,1.68-2.56,3.54-4.43,5.39-1.85,1.94-3.62,3.45-5.22,4.69-3.09-4.51-6.19-9.11-9.2-13.63-.53-.7-1.24-1.6-2.13-1.6-.79,0-1.51.62-2.04,1.24l-10.88,12.12c-1.06-4.34-3.54-8.41-6.9-11.41h0l-1.15-.98-.09-.09h-.09s-.09,0-.09-.09-.09-.09-.09-.09c-.36-.26-1.24-.7-1.51-.98-.45-.36-1.32.45-1.32.45l-1.94,1.51c-4.07,3.45-5.04,8.14-8.58,11.86-1.94-2.21-3.36-4.51-4.77-6.9-.89-1.41-1.77-2.83-2.83-4.15-.89-1.06-1.68-2.47-3.89-2.47-.89,0-1.41.53-1.68,1.06-1.6,4.43-3.98,8.75-7.26,12.82-3.36-4.15-5.3-8.75-8.05-13.09-.45-.62-1.94-.53-2.47-.09-1.85,2.39-3.62,4.77-4.96,7.26-.36.7-.7,1.32-.98,2.04-.09.26-.26.62-.36.89-.09.36-.17.7-.26.98h0c-.09.36-.17.79-.26,1.24,0,.17,0,.36-.09.53.09.09.26.17.45.36h0l-.02-.02Zm175.26,1.06c.09-.09.26-.26.45-.45,2.92-3.09,4.43-6.81,6.73-10.18.17-.26.36-.45.53-.7.53-.62.98-1.24,1.6-1.85.36.26.62.62.89.98.53.62.98,1.32,1.32,2.04h0c.36.62.53,1.24.79,1.85.09.17.17.45.26.62.26.62.45,1.24.7,1.94.17.36.36.7.45,1.06.7,1.51,1.32,3.09,2.21,4.51.09.09.09.17.17.26.09.17.26.36.36.53h-2.21c-4.69.09-9.73.09-15.04.09.26-.26.62-.53.79-.7h0Zm-20.35-5.92c.36-.7.62-1.41.98-2.13,0-.09.09-.17.09-.36.09-.09.09-.17.17-.26s.09-.17.17-.26c.09-.26.26-.53.36-.79h0c.09-.09.09-.26.17-.36.26-.45.53-.79.79-1.24.17-.17.36-.36.45-.53.17-.17.36-.36.53-.62.17-.17.36-.36.45-.53.06-.06.12-.09.17-.09.17-.17.45-.36.62-.53.26-.26.53-.45.89-.62.17.17.36.26.53.45,0-.09-.09-.09-.09-.09l.09.09c.36.26.7.62.89.98.09.17.17.26.36.45.09.17.17.26.26.45.09,0,.09.09.09.17v.09c.06.06.09.12.09.17.09.09.09.17.17.36s.17.45.26.62c.17.45.26.89.36,1.32.09.17.09.45.17.62.17.7.26,1.41.36,2.13.09.45.17.79.17,1.15.36,1.94,1.06,4.15,2.47,6.02v.09c-4.96-.09-10.26,0-15.93,0,1.77-2.13,2.83-4.43,3.89-6.73h.01Zm-24.33,6.9h0c.36-.45.7-.89,1.06-1.32.17-.17.36-.45.45-.62.36-.45.62-.89.89-1.32.36-.53.79-1.15,1.06-1.77.36-.62.7-1.32,1.06-1.94.26-.45.45-.89.7-1.32.17-.45.45-.89.62-1.32.26-.62.53-1.24.79-1.85.36.45.62.98.98,1.41s.62.98.89,1.41c.09.09.17.26.17.36s.09.09.09.17c0,0,0,.09.09.09.09.17.17.36.26.45.26.45.53.89.79,1.32.09.17.17.36.36.53.45.7.89,1.41,1.32,2.13.09.17.17.36.36.45.09.17.26.36.36.53.09.17.17.26.26.45h0c.17.26.36.53.53.79.36.45.7.89,1.15,1.32h0c-3.45.09-6.9.09-10.52.09h-3.72Zm-18.58-4.6c1.24-2.66,2.92-5.22,4.87-7.6,1.77,4.24,3.45,8.49,6.45,12.39-3.45,0-6.9.09-10.52.17h-.36c-.09-.89-.26-1.68-.36-2.47v-2.47h-.09,0Zm-18.05-1.68l-.09.09h0c.06,0,.09-.03.09-.09h0Zm-5.13,5.58l.09-.09c.17-.17.36-.26.45-.45.53-.45.98-.98,1.41-1.41.89-.98,1.77-1.94,2.66-3,0,0,0-.09.09-.09.26-.26.45-.53.7-.79,0,0,0-.09.09-.09.26-.36.53-.62.7-.98v7.88c-2.39-.09-4.77-.09-7.26-.17.45-.26.7-.53,1.06-.79h0v-.02Zm-24.33-2.3c.26-.26.53-.53.79-.79.09-.09.26-.26.36-.45h0s0-.09.09-.09c.09-.09.17-.17.26-.36.17-.26.45-.53.62-.89.09-.17.17-.26.26-.45.09-.17.17-.26.26-.45.17-.26.36-.62.53-.89s.36-.53.53-.89h0c.36-.62.7-1.15,1.15-1.77.53-.89,1.15-1.77,1.85-2.66h0c.45-.53.98-1.15,1.51-1.68.17.17.36.26.45.45l.09.09.09.09c.26.17.45.45.53.62,0,.09.09.09.09.17.17.26.36.45.53.7h0s0,.09.09.09c.09.26.26.45.36.62.53.98.98,2.13,1.41,3.19.09.36.26.62.36.98s.26.62.36.89c1.06,2.13,2.13,4.43,3.72,6.54-6.64-.17-13.09-.45-19.02-.62,1.15-.89,2.04-1.68,2.75-2.47h0v.02Zm-13.98-11.59h-.09.09Zm-6.45,6.9s.53-2.75,3.28-5.49l.09-.09c.09-.17.36-.36.45-.53.09-.09.09-.17.17-.17.17-.17.45-.36.62-.62.45-.26.89-.45,1.15-.62.17.09.36.26.62.45h0c.09.09.17.09.26.17.53.45.89.98,1.06,1.32h0c.45,1.15.79,2.21,1.24,3.36,1.06,2.83,2.04,5.66,3.09,8.41.09.09.17.17.26.26-.09-.09-.17-.17-.26-.26.09.09.09.26.17.36h-2.04c.79,0,1.51.09,2.3.09h0c-.79,0-1.6-.09-2.3-.09-4.69.09-9.47.09-14.16.09,2.47-2.75,3.45-5.04,3.98-6.64h.02Zm-23,5.75c.7-.89,1.41-1.85,2.04-2.75.53-.79.98-1.6,1.41-2.39.26-.36.45-.79.7-1.15.17-.26.26-.53.45-.79.26-.45.53-.98.7-1.41.26-.53.45-.98.7-1.51.36.45.7.98.98,1.41.09.17.17.26.26.45.09.17.26.36.36.62-.09-.17-.26-.36-.36-.62.17.26.45.62.62.89.09.17.26.36.36.53.17.26.26.45.45.7.62,1.06,1.32,2.13,1.94,3.19.36.45.62.89.89,1.32.17.36.45.53.7.89s.53.62.79.89c.09.09.17.17.26.26l.09.09-.09-.09c.17.26.36.45.62.62h0c.09,0,.09.09.09.09-4.34.09-8.67.09-13.01.09h-2.13c.36-.36.7-.79,1.15-1.32h.02Z"></path><path class="cls-1" d="m428.43,85.64c-1.24,1.77-1.77,4.07-1.06,6.11v.17c0,.36.17.62.53.7s.62.17.98.09c2.13-.09,4.34-1.15,5.3-3.09.45-.98.53-2.13.53-3.28,0-1.68-.26-3.45-1.24-4.77-2.04,1.06-3.81,2.3-5.04,4.07h0Z"></path><path class="cls-1" d="m456.13,32.3c2.04.7,4.51.45,6.02-1.06.79-.79,1.32-1.85,1.68-2.83.53-1.6.98-3.28.53-4.87-2.13.17-4.34.7-6.11,1.94s-3.09,3.19-3.19,5.3v.17c-.17.26,0,.62.17.89.26.17.53.36.89.45h0Z"></path><path class="cls-1" d="m438.52,55.3c-1.24,1.77-1.77,4.07-.98,6.11v.17c0,.36.17.62.53.7.26.17.62.17.98.09,2.13-.09,4.34-1.15,5.22-3.09.45-1.06.53-2.13.53-3.28,0-1.68-.26-3.45-1.32-4.77-1.94,1.06-3.81,2.3-4.96,4.07h0Z"></path><path class="cls-1" d="m442.5,23c0,.36.17.62.53.79s.62.17.98.09c2.13-.09,4.34-1.15,5.22-3.09.45-.98.53-2.21.53-3.28,0-1.68-.26-3.45-1.32-4.77-1.94.98-3.72,2.21-4.96,3.98s-1.77,4.07-.98,6.11v.17h0Z"></path><path class="cls-1" d="m420.91,55.21c-1.51.53-2.75,1.77-3.19,3.28v.09c-.17.17-.17.45,0,.7s.36.36.53.45c1.32.79,3.09,1.15,4.51.36.7-.45,1.24-1.06,1.68-1.77.7-.98,1.32-2.21,1.24-3.36-1.68-.26-3.28-.26-4.77.26h0Z"></path><path class="cls-1" d="m444.98,74.23c-.53,1.51-.45,3.28.45,4.51l.09.09c0,.26.26.36.53.45s.45,0,.7-.09c1.51-.53,2.83-1.68,3.09-3.19.17-.79,0-1.6-.26-2.47-.36-1.15-.89-2.39-1.77-3.09-1.24,1.06-2.3,2.3-2.83,3.81h0Z"></path><path class="cls-1" d="m470.99,80.06v.09c-.09.17,0,.45.09.62.17.17.36.26.62.36,1.51.53,3.28.45,4.43-.62.62-.53.98-1.32,1.32-2.13.45-1.15.79-2.39.45-3.62-1.6.09-3.19.45-4.51,1.32-1.24.98-2.3,2.39-2.39,3.98h0Z"></path><path class="cls-1" d="m487,93.34c.45-1.15.79-2.39.45-3.62-1.6.09-3.19.45-4.51,1.32s-2.3,2.3-2.39,3.89v.09c-.09.17,0,.45.09.62.17.17.36.26.62.36,1.51.53,3.28.45,4.43-.62.62-.53.98-1.24,1.32-2.04h0Z"></path><path class="cls-1" d="m476.47,104.93c-.53-1.51-1.24-2.92-2.47-3.98-1.15-1.06-2.83-1.68-4.43-1.32h-.09c-.26-.09-.45.09-.62.26-.09.17-.17.45-.17.7-.09,1.6.45,3.28,1.77,4.07.7.45,1.51.62,2.39.7,1.24.17,2.56.17,3.62-.45h0Z"></path><path class="cls-1" d="m453.3,99.88l-.09.09c-.17.09-.36.36-.36.62s.09.45.26.62c.79,1.32,2.3,2.39,3.81,2.3.79-.09,1.6-.36,2.3-.79,1.06-.62,2.13-1.32,2.66-2.47-1.32-.89-2.75-1.68-4.34-1.85-1.41-.09-3.19.36-4.24,1.51h0Z"></path><path class="cls-1" d="m480.64,63.96c-.09.17-.09.45.09.62s.36.26.53.36c1.41.62,3.28.7,4.51-.26.62-.53,1.06-1.24,1.41-1.94.53-1.06.98-2.3.79-3.54-1.6,0-3.19.17-4.6.98s-2.56,2.13-2.75,3.62c.09.09,0,.17,0,.17h.01Z"></path><path class="cls-1" d="m435.16,17.43c0,.26.17.45.45.53.17.09.45,0,.7,0,1.6-.36,3-1.32,3.45-2.83.26-.79.17-1.6,0-2.47-.17-1.24-.53-2.47-1.41-3.36-1.32.89-2.47,2.04-3.19,3.45-.7,1.41-.79,3.19-.09,4.51l.09.17h0Z"></path><path class="cls-1" d="m467.01,43.18c0,.26.09.45.36.62.17.09.45.17.7.17,1.6,0,3.28-.62,3.98-2.04.36-.7.53-1.6.53-2.39.09-1.24,0-2.47-.7-3.54-1.41.62-2.83,1.41-3.89,2.66-.98,1.24-1.51,2.92-1.06,4.43l.09.09h0Z"></path><path class="cls-1" d="m432.33,26.28c-.45,1.51-.17,3.28.79,4.51l.09.09c.09.26.26.36.53.45.26,0,.45-.09.7-.17,1.41-.62,2.75-1.85,2.92-3.45.09-.79-.17-1.68-.45-2.39-.45-1.15-.98-2.3-2.04-3-1.24,1.15-2.21,2.47-2.56,3.98h.01Z"></path><path class="cls-1" d="m481.34,74.05c-.7,1.94-.62,4.34.62,6.02l.09.17c.09.26.36.53.7.62s.62,0,.89-.09c1.94-.62,3.81-2.21,4.15-4.24.17-1.06,0-2.21-.36-3.28-.45-1.6-1.15-3.19-2.39-4.15-1.6,1.24-3,2.92-3.72,4.96h.01Z"></path><path class="cls-1" d="m447.45,39.28c-.7,1.94-.62,4.34.62,6.02l.09.17c.09.26.36.53.7.62.36.09.62,0,.89-.09,1.94-.62,3.81-2.21,4.15-4.24.17-1.06,0-2.21-.36-3.28-.45-1.6-1.15-3.19-2.39-4.15-1.6,1.32-3,3-3.72,4.96h.01Z"></path><path class="cls-1" d="m421,69.8c-.36,1.15-.26,2.47.53,3.45l.09.09c0,.17.17.26.36.36s.36,0,.53-.09c1.15-.45,2.13-1.32,2.21-2.47.09-.62-.09-1.24-.26-1.85-.26-.89-.7-1.77-1.51-2.3-.79.7-1.6,1.68-1.94,2.83h-.01Z"></path><path class="cls-1" d="m489.92,87.59c1.06.45,2.47.45,3.36-.36.45-.45.79-.98,1.06-1.51.36-.79.7-1.77.45-2.66-1.15,0-2.39.26-3.45.89s-1.85,1.68-1.94,2.83v.09c-.09.17,0,.36.09.53.09.09.26.17.45.17h-.01Z"></path><path class="cls-1" d="m470.72,56.89c-.26,1.15-.17,2.47.62,3.36l.09.09c0,.17.17.26.45.26s.36-.09.53-.09c1.06-.45,2.04-1.41,2.13-2.56.09-.62-.09-1.24-.36-1.85-.36-.89-.79-1.77-1.6-2.21-.79.79-1.51,1.77-1.85,3h0Z"></path><path class="cls-1" d="m423.47,18.58c0,.17.17.26.36.36.17,0,.36,0,.53-.09,1.06-.45,2.04-1.41,2.21-2.56.09-.62-.09-1.24-.36-1.85-.36-.89-.79-1.77-1.51-2.3-.89.79-1.6,1.85-1.85,3-.36,1.15-.17,2.47.53,3.36l.09.09h0Z"></path><path class="cls-1" d="m457.54,53.44v.09c-.09.17,0,.36.09.53s.26.17.45.26c1.06.45,2.47.45,3.36-.36.45-.45.79-.98,1.06-1.51.36-.89.7-1.77.45-2.66-1.24,0-2.39.26-3.45.89-.98.53-1.77,1.6-1.94,2.75h-.01Z"></path><path class="cls-1" d="m484.79,103.16v.09c-.09.17-.09.36,0,.53s.26.26.45.36c1.06.7,2.47.98,3.54.26.53-.36.98-.89,1.32-1.41.53-.79.98-1.77.89-2.75-1.24-.17-2.56-.17-3.72.17-1.24.53-2.21,1.51-2.47,2.75h0Z"></path><path class="cls-1" d="m406.14,65.2c-.7,2.04-1.15,4.24-.79,6.28.36,2.13,1.6,4.15,3.54,5.13l.17.09c.17.26.53.26.89.17.26-.09.53-.36.79-.53,1.51-1.6,2.3-3.89,1.6-5.84-.36-1.06-1.15-1.94-1.94-2.75-1.15-1.24-2.56-2.3-4.24-2.56h-.01Z"></path><path class="cls-1" d="m364.21,53.53c.26,2.13,2.04,3.81,4.07,4.51.26.09.62.17.98.17.36-.09.62-.26.7-.62l.09-.17c1.32-1.68,1.51-4.07.89-6.11-.62-2.04-1.94-3.81-3.54-5.3-1.32.98-2.13,2.56-2.66,4.15-.45,1.15-.7,2.3-.53,3.36h0Z"></path><path class="cls-1" d="m365.88,97.41c1.77,1.15,4.24.89,6.11-.17.26-.17.53-.36.7-.62s.17-.62,0-.89l-.09-.17c-.45-2.13-2.21-3.81-4.15-4.6-1.94-.79-4.24-.89-6.37-.7-.09,1.68.62,3.28,1.51,4.69.62.98,1.32,1.85,2.3,2.47h-.01Z"></path><path class="cls-1" d="m341.02,103.51c.09-.26.17-.53.17-.7s-.17-.53-.45-.62l-.09-.09c-1.24-1.24-3.19-1.6-4.87-1.24-1.77.26-3.28,1.24-4.6,2.39.7,1.15,1.85,1.94,3.09,2.47.79.36,1.68.7,2.66.7,1.77-.09,3.28-1.41,4.07-2.92h.01Z"></path><path class="cls-1" d="m317.13,50.96c1.77.62,3.89-.09,5.3-1.32.17-.17.45-.45.53-.7s.09-.62-.17-.79l-.09-.17c-.79-1.77-2.66-2.83-4.51-3.19s-3.81,0-5.66.62c.17,1.51,1.15,2.75,2.21,3.81.62.79,1.41,1.41,2.39,1.77h0Z"></path><path class="cls-1" d="m333.15,35.03c1.15,1.15,3,1.32,4.6.79.26-.09.45-.17.62-.36s.26-.45.17-.7v-.17c0-1.6-1.06-3.09-2.39-4.07-1.32-.89-3-1.32-4.6-1.51-.36,1.24,0,2.47.45,3.72.17.89.53,1.68,1.15,2.3h0Z"></path><path class="cls-1" d="m344.83,28.4c.26.17.62.26.89.17.36,0,.62-.17.7-.53l.09-.09c1.41-1.6,1.77-3.81,1.24-5.84-.45-2.04-1.68-3.81-3.09-5.39-1.41.89-2.21,2.3-2.83,3.81-.45.98-.79,2.04-.7,3.19.17,2.04,1.77,3.81,3.72,4.69h-.01Z"></path><path class="cls-1" d="m334.57,91.22c.36-.09.62-.17.89-.36s.45-.53.26-.89v-.17c.17-2.13-.98-4.24-2.56-5.66s-3.72-2.13-5.84-2.56c-.62,1.6-.45,3.28,0,4.96.26,1.06.62,2.21,1.41,3,1.32,1.68,3.72,2.13,5.84,1.68h0Z"></path><path class="cls-1" d="m352.78,37.6c.26.17.45.26.79.26.26,0,.62-.09.7-.36l.09-.09c1.41-1.24,2.04-3.19,1.85-5.04s-.98-3.62-2.04-5.13c-1.32.62-2.3,1.77-3,3.09-.53.79-.89,1.77-.98,2.75-.17,1.77,1.06,3.54,2.56,4.51h.02Z"></path><path class="cls-1" d="m349.33,64.77c-.36-1.51-1.6-2.83-3-3.45-1.41-.62-3.09-.7-4.69-.62-.09,1.24.45,2.39,1.06,3.45.45.7.89,1.41,1.6,1.85,1.32.89,3.09.7,4.51-.09.17-.09.45-.26.53-.45s.17-.45,0-.7h-.01Z"></path><path class="cls-1" d="m370.92,11.67c1.06,1.15,2.92,1.32,4.43.98.26-.09.45-.17.62-.36s.26-.45.17-.62v-.17c0-1.6-.89-3.09-2.21-3.98-1.24-.98-2.83-1.41-4.43-1.6-.36,1.15-.17,2.47.26,3.62.26.7.62,1.51,1.15,2.13h.01Z"></path><path class="cls-1" d="m328.99,48.12c.26,0,.45,0,.7-.17.17-.09.36-.36.36-.62v-.09c.45-1.51-.09-3.19-1.06-4.43s-2.39-2.04-3.89-2.66c-.7,1.06-.79,2.3-.7,3.54,0,.79.17,1.68.53,2.39.79,1.41,2.47,2.04,4.07,2.04h0Z"></path><path class="cls-1" d="m475.85,50.25c.17.17.45.26.62.17h.09c1.6,0,3.09-.89,3.98-2.21.98-1.24,1.41-2.83,1.6-4.43-1.15-.36-2.47-.17-3.62.26-.79.26-1.6.62-2.13,1.15-1.15,1.06-1.32,2.92-.89,4.43.17.26.17.45.36.62h0Z"></path><path class="cls-1" d="m363.76,26.81c.26,0,.45-.17.53-.45l.09-.09c.98-1.24,1.24-3,.79-4.51s-1.41-2.83-2.47-3.98c-.98.7-1.6,1.85-2.04,3-.26.79-.53,1.6-.45,2.39.17,1.6,1.41,2.83,2.92,3.45.17.09.45.17.62.17h.01Z"></path><path class="cls-1" d="m309.34,81.93c.36,0,.62,0,.89-.09.26-.17.53-.45.45-.7v-.17c.7-1.94.17-4.24-.98-6.02-1.24-1.68-3-3-4.87-3.89-.98,1.32-1.24,3-1.24,4.69,0,1.06.09,2.21.53,3.19.98,1.85,3.19,2.92,5.22,3h0Z"></path><path class="cls-1" d="m388.7,50.16c.36,2.04,2.21,3.62,4.15,4.24.26.09.62.17.89.09.36-.09.62-.26.62-.62l.09-.17c1.24-1.77,1.32-4.07.62-6.02s-2.13-3.62-3.72-5.04c-1.32.98-1.94,2.56-2.39,4.15-.26,1.24-.45,2.3-.26,3.36h0Z"></path><path class="cls-1" d="m303.15,89.36c.89.79,2.3.79,3.36.36.17-.09.36-.17.45-.26.09-.17.17-.36.09-.53v-.09c-.09-1.15-.89-2.21-1.94-2.83s-2.21-.79-3.45-.89c-.17.89.09,1.85.45,2.66.26.62.62,1.24,1.06,1.6h-.01Z"></path><path class="cls-1" d="m312.71,61.58c.17.09.36.17.53.09.17,0,.36-.17.45-.26l.09-.09c.79-.89.89-2.21.62-3.36s-1.06-2.21-1.94-3.09c-.79.53-1.24,1.41-1.6,2.21-.17.62-.45,1.15-.36,1.85.17,1.24,1.15,2.21,2.21,2.66h0Z"></path><path class="cls-1" d="m387.29,74.14c.17,0,.36,0,.53-.09s.26-.26.26-.45v-.09c.45-1.15.09-2.39-.53-3.36-.7-.98-1.68-1.68-2.75-2.21-.53.7-.7,1.68-.7,2.66,0,.62,0,1.24.26,1.85.45,1.06,1.68,1.68,2.92,1.68h.01Z"></path><path class="cls-1" d="m394.64,9.56c.26.09.53.17.7,0l.09-.09c1.6-.36,2.66-1.51,2.92-2.92.36-1.41,0-2.92-.53-4.43-1.32-.09-2.47.45-3.45,1.06-.62.45-1.24.89-1.6,1.6-.62,1.24.09,3,1.24,4.24.17.17.45.36.62.53h.01Z"></path><path class="cls-1" d="m369.69,78.38c.17-.09.36-.17.45-.26.09-.17.17-.36.09-.53v-.09c-.09-1.15-.89-2.21-1.94-2.83s-2.21-.79-3.45-.89c-.17.89.09,1.85.45,2.66.26.53.53,1.15,1.06,1.51.89.79,2.21.79,3.36.45h-.01Z"></path><path class="cls-1" d="m383.57,100.06c.17-.09.36-.17.45-.26.09-.17.17-.36.09-.53v-.09c-.09-1.15-.89-2.21-1.94-2.83s-2.21-.79-3.45-.89c-.17.89.09,1.85.45,2.66.26.53.53,1.15,1.06,1.51.89.89,2.21.89,3.36.45h-.01Z"></path><path class="cls-1" d="m308.73,68.92c.89.79,2.3.79,3.36.36.17-.09.36-.17.45-.26.09-.17.17-.36.09-.53v-.09c-.09-1.15-.89-2.21-1.94-2.83s-2.21-.79-3.45-.89c-.17.89.09,1.85.45,2.66.26.62.53,1.15,1.06,1.6h-.01Z"></path><path class="cls-1" d="m314.22,95.99c-.09-.17-.36-.26-.45-.26h-.09c-1.24-.26-2.56.26-3.45,1.06-.89.89-1.41,2.04-1.77,3.28.89.53,1.94.53,2.83.36.62-.09,1.32-.17,1.85-.62.98-.7,1.41-2.04,1.24-3.36,0-.17,0-.36-.17-.45h0Z"></path><path class="cls-1" d="m383.14,11.67c.26.09.7.09.89-.17l.17-.09c1.94-.98,3.19-3,3.54-5.13.36-2.13-.09-4.34-.79-6.28-1.68.26-3.09,1.32-4.24,2.56-.79.79-1.51,1.68-1.94,2.75-.7,2.04.17,4.34,1.6,5.84.17.26.45.45.79.53h-.01Z"></path><path class="cls-1" d="m410.03,15.13c.26.09.7.09.89-.17l.17-.09c1.94-.98,3.19-3,3.54-5.13s-.09-4.34-.79-6.37c-1.68.26-3.09,1.32-4.24,2.56-.79.79-1.51,1.68-1.94,2.75-.7,2.04.17,4.34,1.6,5.84.26.26.53.53.79.62h-.01Z"></path><path class="cls-1" d="m357.48,141.29c-.98-.98-2.04-1.77-3.09-2.66-.36-.26-.7-.62-1.15-.89-2.21-1.15-4.6-1.77-7.17-1.41-2.66.36-5.3.98-7.79,2.21-2.04,1.06-3.98,2.3-5.66,3.98-1.06,1.06-1.94,2.21-2.83,3.45-.7.89-1.24,1.85-1.77,2.83-.36.62-.45,1.41,0,2.13.7,1.15,2.13,1.06,2.75-.09.53-.98.98-2.13,1.51-3.09.98-1.68,2.47-3,3.89-4.43.36-.36.7-.62,1.06-.79.98-.53,1.94-.98,3-1.41,2.3-1.06,4.77-1.68,7.34-1.51,1.77.09,3.45.53,4.77,1.77,1.24,1.15,2.66,2.13,3.81,3.36,1.77,1.85,3.19,3.89,3.98,6.37.26.7.7,1.41,1.77,1.24.53.17.98-.17,1.32-.7.53-.79.26-1.6-.09-2.21-.89-1.51-1.77-3-2.83-4.51-.7-1.32-1.77-2.56-2.83-3.62h0Z"></path><path class="cls-1" d="m435.6,138.55c-.62-1.24-2.04-1.24-2.75-.09-.45.62-.26,1.41,0,2.13.45.98,1.06,1.94,1.77,2.83.89,1.24,1.77,2.39,2.83,3.45,1.6,1.68,3.54,2.92,5.66,3.98,2.39,1.24,5.04,1.85,7.79,2.21,2.56.26,4.87-.26,7.17-1.41.45-.17.79-.53,1.15-.89,1.06-.89,2.13-1.68,3.09-2.66,1.06-1.15,2.13-2.3,3-3.54,1.06-1.41,1.94-2.92,2.83-4.51.36-.7.62-1.41.09-2.21-.36-.53-.7-.79-1.32-.7-1.06-.09-1.51.53-1.77,1.24-.89,2.39-2.3,4.51-3.98,6.37-1.15,1.24-2.56,2.21-3.81,3.36-1.32,1.24-3,1.68-4.87,1.77-2.56.17-5.04-.53-7.34-1.51-.98-.45-2.04-.98-3-1.41-.45-.17-.79-.53-1.06-.79-1.41-1.41-2.92-2.75-3.89-4.43-.62-1.06-.98-2.13-1.6-3.19h.01Z"></path><path class="cls-1" d="m490.71,141.73c.53-.98,1.06-1.85,1.6-2.92h0c-.09-.09-.17-.09-.26-.17-.36-.26-.7-.62-1.15-.89-2.21-1.24-4.6-1.77-7.07-1.41-2.66.36-5.3.98-7.69,2.21-2.04,1.06-4.07,2.3-5.66,3.98-1.06,1.06-1.94,2.21-2.83,3.45-.7.89-1.24,1.85-1.77,2.83-.36.62-.45,1.41,0,2.13.7,1.15,2.13,1.06,2.75-.09.53-.98.98-2.13,1.51-3.09.98-1.68,2.47-3,3.89-4.43.26-.36.7-.62,1.06-.79.98-.53,1.94-.98,3-1.41,2.3-1.06,4.77-1.68,7.34-1.51,1.77.09,3.45.53,4.87,1.77.09,0,.26.17.45.36h0l-.04-.02Z"></path><path class="cls-1" d="m317.05,151.56c.45-.17.79-.53,1.15-.89.98-.89,2.13-1.68,3.09-2.66,1.06-1.06,2.13-2.3,3-3.54.98-1.41,1.94-2.92,2.83-4.51.36-.7.62-1.41.09-2.21-.36-.53-.7-.79-1.32-.7-1.06-.09-1.51.53-1.77,1.24-.89,2.39-2.21,4.51-3.98,6.28-1.15,1.24-2.56,2.3-3.81,3.36-1.32,1.24-3,1.68-4.87,1.77h-.53l2.3,3c1.32,0,2.66-.53,3.81-1.15h.01Z"></path><path class="cls-1" d="m344.42,145.51c-1.36.78-2.52,1.76-2.52,4.08,0,.38.2,1.36.38,2.14.58,1.56,3.3,2.34,4.86,1.56,2.14-.98,2.14-5.84,0-7.39-.78-.58-1.76-.78-2.72-.38h0Z"></path><path class="cls-1" d="m414.77,144.53c-1.48.84-2.75,1.9-2.75,4.44,0,.42.21,1.48.42,2.32.63,1.69,3.59,2.53,5.28,1.69,2.32-1.05,2.32-6.33,0-8.02-.84-.63-2.11-.84-2.96-.42h0Z"></path><path class="cls-1" d="m313.24,144.58c1.98-.9,1.98-5.4,0-6.84-.9-.72-1.98-.9-2.7-.36-1.26.72-2.34,1.62-2.34,3.78,0,.36.19,1.26.36,1.98.72,1.43,3.24,2.16,4.69,1.43h-.01Z"></path><path class="cls-1" d="m452.36,145.14c2.47-2.02,2.47-7.41,0-8.53-1.79-.9-4.93,0-5.61,1.79-.22.9-.45,2.02-.45,2.47,0,2.7,1.35,3.82,2.92,4.71.67.67,2.02.45,3.14-.45Z"></path><path class="cls-1" d="m483.15,151.66c2.1-.95,2.1-5.71,0-7.25-.95-.77-2.1-.95-2.86-.38-1.34.77-2.47,1.72-2.47,4.01,0,.38.19,1.34.38,2.1.57,1.52,3.24,2.29,4.96,1.52h-.01Z"></path><path class="cls-1" d="m365.79,138.55c-.62-1.24-2.04-1.24-2.75-.09-.45.62-.26,1.41,0,2.13.45.98,1.06,1.94,1.77,2.83.89,1.24,1.77,2.39,2.83,3.45,1.6,1.68,3.54,2.92,5.66,3.98,2.39,1.24,5.04,1.85,7.79,2.21,2.56.26,4.87-.26,7.17-1.41.45-.17.79-.53,1.15-.89,1.06-.89,2.13-1.68,3.09-2.66,1.06-1.15,2.13-2.3,3-3.54,1.06-1.41,1.94-2.92,2.83-4.51.36-.7.62-1.41.09-2.21-.36-.53-.7-.79-1.32-.7-1.06-.09-1.51.53-1.77,1.24-.89,2.39-2.3,4.51-3.98,6.37-1.15,1.24-2.56,2.21-3.81,3.36-1.32,1.24-3,1.68-4.87,1.77-2.56.17-5.04-.53-7.34-1.51-.98-.45-2.04-.98-3-1.41-.45-.17-.79-.53-1.06-.79-1.41-1.41-2.92-2.75-3.89-4.43-.7-1.06-1.06-2.13-1.6-3.19h.01Z"></path><path class="cls-1" d="m427.81,141.29c-.98-.98-2.04-1.77-3.09-2.66-.36-.26-.7-.62-1.15-.89-2.21-1.15-4.6-1.77-7.17-1.41-2.66.36-5.3.98-7.79,2.21-2.04,1.06-3.98,2.3-5.66,3.98-1.06,1.06-1.94,2.21-2.83,3.45-.7.89-1.24,1.85-1.77,2.83-.36.62-.45,1.41,0,2.13.7,1.15,2.13,1.06,2.75-.09.53-.98.98-2.13,1.51-3.09.98-1.68,2.47-3,3.89-4.43.36-.36.7-.62,1.06-.79.98-.53,1.94-.98,3-1.41,2.3-1.06,4.77-1.68,7.34-1.51,1.77.09,3.45.53,4.87,1.77,1.24,1.15,2.66,2.13,3.81,3.36,1.77,1.85,3.19,3.89,3.98,6.37.26.7.7,1.41,1.77,1.24.53.17.98-.17,1.32-.7.53-.79.26-1.6-.09-2.21-.89-1.51-1.77-3-2.83-4.51-.79-1.32-1.85-2.56-2.92-3.62h-.01Z"></path><path class="cls-1" d="m382.03,143.46c1.95-1.6,1.95-5.86,0-6.75-1.42-.72-4.09,0-4.44,1.42-.17.72-.36,1.6-.36,1.95,0,2.14,1.06,3.02,2.31,3.73.53.53,1.6.36,2.49-.36Z"></path><path class="cls-1" d="m317.67,158.27c9.9.26,18.84.26,36.28-.17l55.3-1.32c19.2-.45,32.56.53,50.42.17,6.64-.09,13.54-.09,20.44-.09.89-1.06,1.77-2.21,2.66-3.28-15.84,0-30.88,2.04-55.65.79-11.59-.62-71.48-.26-84.14.17-8.22.36-17.78.45-28.04.45.79,1.06,1.77,2.13,2.75,3.28h0Z"></path><path class="cls-1" d="m491.52,133.06c-2.04-.09-3.89-.09-5.49-.17-18.23-.7-49.1,1.77-76.8.36-11.59-.62-62.73.53-76.18.45-9.03-.09-18.4-.26-28.04-.53-.89,0-1.85-.09-2.75-.09l1.41,3.36c.89,0,1.77,0,2.75-.09,3.98-.09,8.05-.09,12.12-.09,11.97-.09,23.95-.17,35.92-.26l54.68.17c19.73.09,31.32-.45,49.19-.7,10.26-.17,21.06-.09,32.11,0,.89,0,1.77,0,2.75.09l.98-2.39c-.89,0-1.85,0-2.66-.09l.02-.02Z"></path><path class="cls-1" d="m477.27,159.95h-.36c-.62,0-1.24,0-1.85.09-5.04.09-10.09.26-15.13.36-5.75.17-11.59.26-17.34.45-5.75.09-11.59.26-17.34.36-5.75.09-11.59.17-17.34.26s-11.59.17-17.34.26-11.59.09-17.34.17c-5.75.09-11.59.09-17.34.09-5.75.09-11.59.09-17.34.09h-13.01c-.26,0-1.15-.09-2.04-.09-.79,0-1.6,0-1.77.17l-.09.09c-.09.45.62,1.06.98,1.24.26.17.53.36.79.45s.53.17.7.26c.62.17,1.15.26,1.85.36.53.09,1.15.09,1.77.09,6.99-.17,13.98-.45,20.88-.62-3.19,3.98-5.92,8.41-8.05,13.01-.17.26-.36.62-.45.98.89.53,1.85,1.15,2.75,1.77.09-.26.26-.53.36-.79,1.85-3.98,4.34-7.79,7.17-11.15,2.56,7.17,6.19,14.07,10.71,20.17.09.09.17.26.26.36.89,1.24,2.04,2.39,3.54,2.56.79.09,1.51-.09,2.13-.45,1.06-.53,2.04-1.6,2.83-2.56,4.6-5.75,8.41-12.2,11.15-18.93,3.45,6.19,7.34,12.03,11.59,17.69,1.15,1.6,2.75,3.28,4.69,3.09,1.32-.09,2.47-.98,3.28-1.94,5.49-6.02,7.17-14.69,12.2-21.06.98-1.24,2.39-2.47,3.98-2.3,1.68.26,2.75,1.94,3.28,3.45,2.21,5.84,1.94,12.48,5.3,17.69,1.41,2.13,3.62,3.98,6.19,3.72,1.32-.09,2.47-.79,3.54-1.6,7.79-5.58,10.62-15.75,17.16-22.83,2.83,3.09,4.87,6.81,6.11,10.79.09.36.26.79.36,1.15.7-.45,1.41-.98,2.13-1.41-.09-.45-.26-.89-.45-1.32-1.32-3.98-3.45-7.79-6.19-10.88,5.3,0,10.62-.09,15.93-.09.79,0,1.6,0,2.47-.17.62-.09,1.24-.17,1.77-.36.26-.09.45-.17.7-.26.89-.45,1.77-1.24,2.21-2.39h-.02Zm-111.21,23.8c-.26.45-.53.79-.79,1.15-.45-.62-.89-1.24-1.32-1.85-4.15-6.11-7.07-12.56-10.71-18.84h2.56l20.7.17c-2.47,6.54-5.75,13.27-10.44,19.38h0Zm31.15.7c-3.19-3.62-5.3-7.52-7.6-11.41-1.32-2.3-2.66-4.6-4.34-6.81-.45-.62-.89-1.32-1.32-1.85l22.29.17h4.87c-6.9,5.49-8.32,13.71-13.89,19.91h-.01Zm43.35-11.05c-2.66,3.36-4.96,6.99-8.58,9.82-.26.17-.36.36-.62.53,0-.09-.09-.17-.17-.26-2.39-3-3.28-6.64-4.6-9.82-1.24-3.19-2.66-6.64-5.49-9.37,9.82-.17,18.76-.62,28.4-.89-3.72,3.09-6.28,6.64-8.94,10h0Z"></path></g><g><polygon class="cls-1" points="770.6 232.62 775.2 232.62 775.2 216.92 781.2 216.92 781.2 213.12 764.8 213.12 764.8 216.92 770.6 216.92 770.6 232.62"></polygon><path class="cls-1" d="m805.3,213.12h-6.3l-2.2,6.3c-.7,2.1-1.4,4.8-2,7h-.1c-.5-2.3-1.1-4.9-1.7-7l-2-6.3h-6.5l-1.2,19.5h4.3l.4-7.6c.1-2.6.2-5.8.3-8.6h.1c.5,2.7,1.2,5.6,2,8.1l2.3,7.8h3.7l2.6-7.8c.8-2.6,1.8-5.4,2.5-8.1h.1c0,3.1.1,6,.2,8.5l.3,7.7h4.6l-1.4-19.5h0Z"></path></g></svg></a><div class="nav_shop-icons"><div class="nav_search desktop-only"><div id="search-toggle-desktop" aria-label="Open search" class="nav_shop-icon"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0px" y="0px" viewbox="0 0 192.5 194" style="enable-background:new 0 0 192.5 194;" width="100%" fill="currentColor" class="icon-embed-xsmall"><path d="M187.2,193c-1.7,0-3.9-1.4-6.9-4.4c-8.4-8.6-16.8-17.1-25.2-25.8c-3.8-3.8-11.9-12.2-11.9-12.2l-0.7,0.6  c-16.6,13.6-36.1,20.7-56.1,20.7c-25,0-48.9-11.2-65.5-30.6C7.2,125.3,0.2,104.6,1.1,83C2,61.3,10.7,41.2,25.6,26.2  C41.6,9.9,63.3,1,86.4,1c20.4,0,40,7.2,55.2,20.3c16.7,14.4,27.5,35,29.9,56.7c2.5,23.2-4.8,46.2-20.5,64.9l-0.6,0.7l9.9,10.3  c8.8,9.2,17.8,18.6,26.8,27.9c5.3,5.5,5.1,7.6,3,9.8C189.1,192.5,188.2,193,187.2,193z M85,10.6c-19.7,0.2-38.4,8.2-52.7,22.5  C17.9,47.5,10.1,66.3,10.3,86c0.5,47.9,39.6,76.4,77.2,76.4l0.8,0c40.8-0.4,74-34.5,74-76.1l0-2.4l0,0c-0.4-18.7-8.3-37.1-21.8-50.7  c-14.5-14.6-33.9-22.7-54.6-22.7L85,10.6z"></path></svg></div></div>{% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="nav_account">
    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_shop-icon w-inline-block"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewbox="0 0 191.63 192" width="100%" fill="currentColor" class="icon-embed-xsmall"><path class="cls-1" d="m95.11,192C41.14,191.62.31,150.39,0,95.8-.3,42.5,41.54.42,95.25,0h.81c25.95,0,50.03,9.83,67.8,27.68,17.77,17.86,27.89,42.67,27.77,68.09-.26,53.95-42.15,96.21-95.37,96.22h-1.15s0,0,0,0Zm-56.62-31.38c14.01,13.66,34.77,21.49,57.03,21.49h0c23.46,0,44.79-8.42,58.53-23.12l.56-.6-.48-.67c-14.86-20.5-34.88-30.9-59.5-30.9-.71,0-1.42,0-2.14.03-22.7.54-40.51,11.07-54.44,32.22l-1.02,1.55h1.46ZM95.89,9.77c-27.63,0-53.5,12.65-69.2,33.83-16.35,22.05-18.19,44.88-16.86,60.15,1.63,18.77,9.2,36.65,20.25,47.83l.82.83.69-.94c12.92-17.45,20.11-23.16,38.46-30.57l-.37-1.93.62.22c-13.66-11.05-16.94-24.17-17.29-33.23-.49-12.58,4.39-25.3,12.72-33.19,8.04-7.61,18.48-11.8,29.41-11.8s21.95,4.4,30.29,12.38c8.24,7.88,13.14,20.19,12.79,32.14-.26,8.91-3.54,22.05-17.7,34.09l-1.38,1.18,1.74.54c15.27,4.75,28.44,14.32,40.25,29.25l.8,1.02.78-1.03c15.19-20.15,21.7-44.22,18.33-67.77-3.21-22.43-15.19-42.39-33.75-56.22-14.72-10.96-32.49-16.76-51.39-16.76Zm-.88,40.89c-17.73.04-32.72,15.32-32.74,33.37-.01,8.61,3.37,16.75,9.54,22.93,6.29,6.31,14.67,9.78,23.57,9.78,18.82-.04,33.03-14.02,33.13-32.52.05-8.93-3.4-17.34-9.71-23.69-6.33-6.36-14.76-9.87-23.73-9.87h-.08Z"></path></svg></a>    </div>
{% endif %}{% render 'mini_cart' %}
</div></div><div id="dropdownMenu" role="menu" aria-hidden="true" tabindex="-1" class="dropdown-menu"><div class="dropdown-menu-lower"><div class="dropdown-menu-wrapper"><div class="dropdown-menu-part"><div dropdown-animate="" class="accordion-item"><div class="accordion-header"><div class="accordion-title"><div>Shop</div><div class="lottie-container"><div class="accordion-icon" data-w-id="e87644ba-5e5c-3c2d-e7b1-28b15dd88ae7" data-animation-type="lottie" data-src="{{ 'plus-icon.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="0" data-duration="0"></div></div></div></div><div class="accordion-content"><div class="accordion-content-wrapper"><a href="{{ section.settings.url_shop_all_mobile_menu_link }}" class="accordion-link w-inline-block"> <div li-object="link.title">{{ link.title }}</div> </a>
</div></div></div><div class="divider no-space"></div><div dropdown-animate="" class="accordion-item"><div class="accordion-header"><div class="accordion-title"><div>About Us</div><div class="lottie-container"><div class="accordion-icon" data-w-id="e87644ba-5e5c-3c2d-e7b1-28b15dd88afd" data-animation-type="lottie" data-src="{{ 'plus-icon.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="0" data-duration="0"></div></div></div></div><div class="accordion-content"><div class="accordion-content-wrapper"><a href="{{ section.settings.url_our_story_link_mobile }}" class="accordion-link w-inline-block"> <div li-object="link.title">{{ link.title }}</div> </a>
</div></div></div><div class="divider no-space"></div><div dropdown-animate="" class="accordion-item"><div class="accordion-header"><div class="accordion-title"><div>My Account</div><div class="lottie-container"><div class="accordion-icon" data-w-id="e87644ba-5e5c-3c2d-e7b1-28b15dd88b10" data-animation-type="lottie" data-src="{{ 'plus-icon.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="0" data-duration="0"></div></div></div></div><div class="accordion-content"><div class="accordion-content-wrapper"><a href="{{ section.settings.url_sign_in_link_mobile }}" class="accordion-link w-inline-block"> <div li-object="link.title">{{ link.title }}</div> </a>
</div></div></div><div class="divider no-space"></div></div><div class="dropdown-menu-part bottom"><div dropdown-animate="" class="social-links"><div class="footer-icons-wrapper"><a href="https://www.instagram.com/elijasnature/" target="_blank" class="footer-icon w-inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewbox="0 0 24 24" fill="none" app="ikonik" class="social-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.46494 1.066C8.63828 1.01222 9.01228 1 12 1C14.9883 1 15.3617 1.01283 16.5344 1.066C17.7059 1.11917 18.5059 1.30556 19.2056 1.5775C19.9395 1.85381 20.6043 2.28674 21.1538 2.84617C21.7133 3.3956 22.1463 4.06046 22.4225 4.79439C22.6944 5.49411 22.8802 6.29406 22.934 7.46494C22.9878 8.63828 23 9.01228 23 12C23 14.9877 22.9872 15.3617 22.934 16.5351C22.8808 17.7059 22.6944 18.5059 22.4225 19.2056C22.1414 19.9286 21.7649 20.5427 21.1538 21.1538C20.6044 21.7133 19.9395 22.1463 19.2056 22.4225C18.5059 22.6944 17.7059 22.8802 16.5351 22.934C15.3617 22.9878 14.9877 23 12 23C9.01228 23 8.63828 22.9872 7.46494 22.934C6.29406 22.8808 5.49411 22.6944 4.79439 22.4225C4.07144 22.1414 3.45728 21.7649 2.84617 21.1538C2.28664 20.6044 1.85368 19.9395 1.5775 19.2056C1.30556 18.5059 1.11978 17.7059 1.066 16.5351C1.01222 15.3617 1 14.9883 1 12C1 9.01167 1.01283 8.63828 1.066 7.46556C1.11917 6.29406 1.30556 5.49411 1.5775 4.79439C1.85381 4.06051 2.28674 3.39568 2.84617 2.84617C3.39559 2.28664 4.06045 1.85368 4.79439 1.5775C5.49411 1.30556 6.29406 1.11978 7.46494 1.066ZM16.4452 3.046C15.2853 2.99344 14.937 2.98183 12 2.98183C9.063 2.98183 8.71467 2.99344 7.55478 3.046C6.48228 3.09489 5.89989 3.27394 5.51244 3.42489C4.99911 3.62411 4.63244 3.86244 4.24744 4.24744C3.86306 4.63244 3.62411 4.99911 3.42489 5.51244C3.27394 5.89989 3.09489 6.48228 3.046 7.55478C2.99344 8.71467 2.98183 9.063 2.98183 12C2.98183 14.937 2.99344 15.2853 3.046 16.4452C3.09489 17.5177 3.27394 18.1001 3.42489 18.4876C3.60111 18.9654 3.88219 19.3976 4.24744 19.7526C4.60234 20.1178 5.03461 20.3989 5.51244 20.5751C5.89989 20.7261 6.48228 20.9051 7.55478 20.954C8.71467 21.0066 9.06239 21.0182 12 21.0182C14.9376 21.0182 15.2853 21.0066 16.4452 20.954C17.5177 20.9051 18.1001 20.7261 18.4876 20.5751C19.0009 20.3759 19.3676 20.1376 19.7526 19.7526C20.1178 19.3977 20.3989 18.9654 20.5751 18.4876C20.7261 18.1001 20.9051 17.5177 20.954 16.4452C21.0066 15.2853 21.0182 14.937 21.0182 12C21.0182 9.063 21.0066 8.71467 20.954 7.55478C20.9051 6.48228 20.7261 5.89989 20.5751 5.51244C20.3759 4.99911 20.1376 4.63244 19.7526 4.24744C19.3676 3.86306 19.0009 3.62411 18.4876 3.42489C18.1001 3.27394 17.5177 3.09489 16.4452 3.046ZM10.5955 15.3909C11.0408 15.5754 11.518 15.6703 12 15.6703C12.9735 15.6703 13.907 15.2836 14.5953 14.5953C15.2837 13.907 15.6704 12.9734 15.6704 12C15.6704 11.0266 15.2837 10.093 14.5953 9.40468C13.907 8.71636 12.9735 8.32966 12 8.32966C11.518 8.32966 11.0408 8.4246 10.5955 8.60905C10.1501 8.7935 9.74553 9.06385 9.40471 9.40468C9.06389 9.7455 8.79353 10.1501 8.60908 10.5954C8.42463 11.0407 8.3297 11.518 8.3297 12C8.3297 12.482 8.42463 12.9593 8.60908 13.4046C8.79353 13.8499 9.06389 14.2545 9.40471 14.5953C9.74553 14.9361 10.1501 15.2065 10.5955 15.3909ZM8.00205 8.00201C9.06238 6.94168 10.5005 6.34599 12 6.34599C13.4996 6.34599 14.9377 6.94168 15.998 8.00201C17.0583 9.06234 17.654 10.5005 17.654 12C17.654 13.4995 17.0583 14.9376 15.998 15.998C14.9377 17.0583 13.4996 17.654 12 17.654C10.5005 17.654 9.06238 17.0583 8.00205 15.998C6.94172 14.9376 6.34603 13.4995 6.34603 12C6.34603 10.5005 6.94172 9.06234 8.00205 8.00201ZM18.9077 7.18838C19.1583 6.93773 19.2991 6.59779 19.2991 6.24333C19.2991 5.88886 19.1583 5.54892 18.9077 5.29828C18.657 5.04764 18.3171 4.90683 17.9626 4.90683C17.6082 4.90683 17.2682 5.04764 17.0176 5.29828C16.7669 5.54892 16.6261 5.88886 16.6261 6.24333C16.6261 6.59779 16.7669 6.93773 17.0176 7.18838C17.2682 7.43902 17.6082 7.57983 17.9626 7.57983C18.3171 7.57983 18.657 7.43902 18.9077 7.18838Z" fill="currentColor" app="ikonik" class="path-y14ec"></path></svg></a><a href="https://www.facebook.com/elijasnature/" target="_blank" class="footer-icon w-inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewbox="0 0 24 24" fill="none" app="ikonik" class="social-icon"><defs app="ikonik"><clippath app="ikonik"><rect width="24" height="24" fill="currentColor" app="ikonik" class="rect-ljlfl"></rect></clippath></defs><g clip-path="url(#clip0_65_70)" app="ikonik"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.067C0 18.0335 4.33333 22.9944 10 24V15.3333H7V12H10V9.33332C10 6.33332 11.9333 4.66666 14.6667 4.66666C15.5333 4.66666 16.4667 4.79999 17.3333 4.93332V7.99999H15.8C14.3333 7.99999 14 8.73332 14 9.66666V12H17.2L16.6667 15.3333H14V24C19.6667 22.9944 24 18.0335 24 12.067C24 5.43017 18.6 0 12 0C5.4 0 0 5.43017 0 12.067Z" fill="currentColor" app="ikonik" class="path-ggwra"></path></g></svg></a></div></div></div></div></div></div><div li-element="predictive-search-dialog" class="predictive-search_component"><div class="predictive-search_header"><div class="heading-style-h3">Search</div><div id="close-search" li-element="dropdown-toggle" aria-label="Close Search" class="nav-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><div class="plus-icon modal-version"><svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" viewbox="0 0 24 24" fill="none" app="ikonik" class="plus-paths"><path d="M13 6.5V11L17.5 11V13L13 13V17.5H11L11 13L6.5 13L6.5 11H11L11 6.5L13 6.5Z" fill="currentColor" app="ikonik" class="plus-path"></path></svg></div></div></div><predictive-search><div class="predictive-search_holder"><div class="predictive-search_form w-form"><form id="wf-form-product-search-desktop" name="wf-form-product-search-desktop" data-name="product-search-desktop" action="/search" method="get" class="predictive-search_form-component" data-wf-page-id="6818de5ac4b4a83e41b4b51c" data-wf-element-id="fe1f0a39-38a5-d229-f587-c3f3f57fe302"><div class="predictive-search_input-holder"><label for="search-input" class="form_hidden-label">Search</label><input type="search" id="search-input" placeholder="Search now" name="q" class="predictive-search_input">
<a href="#" class="predictive-search_search-button w-inline-block"><div class="icon-embed-xsmall dark-green w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 25 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2941_121300" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="25" height="25"><rect x="0.123535" y="0.987549" width="24" height="24" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2941_121300)"><path d="M19.7235 21.9875L13.4235 15.6875C12.9235 16.0875 12.3485 16.4042 11.6985 16.6375C11.0485 16.8709 10.3569 16.9875 9.62354 16.9875C7.80687 16.9875 6.26937 16.3584 5.01104 15.1C3.7527 13.8417 3.12354 12.3042 3.12354 10.4875C3.12354 8.67088 3.7527 7.13338 5.01104 5.87505C6.26937 4.61672 7.80687 3.98755 9.62354 3.98755C11.4402 3.98755 12.9777 4.61672 14.236 5.87505C15.4944 7.13338 16.1235 8.67088 16.1235 10.4875C16.1235 11.2209 16.0069 11.9125 15.7735 12.5625C15.5402 13.2125 15.2235 13.7875 14.8235 14.2875L21.1235 20.5875L19.7235 21.9875ZM9.62354 14.9875C10.8735 14.9875 11.936 14.55 12.811 13.675C13.686 12.8 14.1235 11.7375 14.1235 10.4875C14.1235 9.23755 13.686 8.17505 12.811 7.30005C11.936 6.42505 10.8735 5.98755 9.62354 5.98755C8.37354 5.98755 7.31104 6.42505 6.43604 7.30005C5.56104 8.17505 5.12354 9.23755 5.12354 10.4875C5.12354 11.7375 5.56104 12.8 6.43604 13.675C7.31104 14.55 8.37354 14.9875 9.62354 14.9875Z" fill="currentColor"></path></g></svg></div></a><input type="submit" data-wait="Please wait..." id="submit-search" class="hide w-button" value="Submit">
</div><div id="predictive-search-desktop" fs-scrolldisable-element="preserve" class="predictive-search_overflow no-scrollbar"><div li-section="predictive_search-desktop" class="predictive-search_section">{% if predictive_search.performed %}    <div li-if="predictive_search.performed" class="predictive-search_conditional">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0" class="predictive-search_conditional">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted cardo">Suggestions</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                            <a li-object:href="query.url" href="{{ query.url }}" class="predictive-search_link w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="predictive-search_link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted cardo">Products</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="predictive-search_produt-item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img class="predictive-search_image" src="{{ product.featured_media | image_url: width: 150 }}" alt="{{ product.featured_image.alt }}" sizes="(max-width: 1536px) 100vw, 1536px" li-object:src="product.featured_media | image_url: width: 150" loading="lazy" li-object:alt="product.featured_image.alt" srcset="{{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-500.jpg' | asset_url }} 500w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-800.jpg' | asset_url }} 800w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-1080.jpg' | asset_url }} 1080w, {{ 'BlackSoap-MallowRoot.jpg' | asset_url }} 1536w">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-semibold cardo"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted cardo">Pages</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for page in predictive_search.resources.pages %}    <li li-for="page in predictive_search.resources.pages" class="predictive-search_item">
                                    
                            <a li-object:href="page.url" href="{{ page.url }}" class="predictive-search_link w-inline-block"><div li-object="page.title">{{ page.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0" class="predictive-search_conditional">
    <div class="predictive-search_topic"><div class="text-style-muted cardo">Nothing found in "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}    </div>
{% endif %}{% unless predictive_search.performed %}    <div li-unless="predictive_search.performed" class="predictive-search_conditional">
    <div class="predictive-search_overflow"><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted cardo">Suggestions</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for block in section.blocks %}
    {% if block.type == "search-suggestion" %}
                    <li li-block="Search - Suggestion" class="predictive-search_item">
                                    
                                    <a href="{{ block.settings.url_link_item }}" class="predictive-search_link w-inline-block"> <div>{{ block.settings.text_text_item }}</div> </a>

                                    
                            </li>
            {% endif %}
{% endfor %}
</ul></div><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted cardo">Bestsellers</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in section.settings.collection_search_bestseller_desktop.products limit: section.settings.collection_search_bestseller_desktop_limit %}
<li class="predictive-search_produt-item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img class="predictive-search_image" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" sizes="(max-width: 1536px) 100vw, 1536px" li-object:src="product.featured_image | img_url: 'master'" loading="lazy" li-object:alt="product.featured_image.alt" srcset="{{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-500.jpg' | asset_url }} 500w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-800.jpg' | asset_url }} 800w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-1080.jpg' | asset_url }} 1080w, {{ 'BlackSoap-MallowRoot.jpg' | asset_url }} 1536w">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-semibold cardo"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small">$18.00</div></div></a>
    
</li>
{% endfor %}
</ul></div></div>    </div>
{% endunless %}</div></div></form><div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></predictive-search></div><script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        cart: {
            note: null,
            attributes: {},
            items: [],
            currency: window.Shopify.currency.active,
            cart_level_discount_applications: [],
            response: {
                result : {},
                show : false,
                timeout : 5000,
            },
            item_count: 0,
            total_price:0,
            total_weight: 0,
            total_discount: 0,
            original_total_price: 0,
            items_subtotal_price: 0
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        async getCart() {
            this.initAbortController()
            await fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();

                    this.cart.item_count = data.item_count;

                    this.cart.items = data.items.map((item) => {
                        item.title = this.htmlspecialchars_decode(item.title)
                        return item
                    })


                    this.cart.total_price = data.total_price;
                    this.cart.total_weight = data.total_weight;
                    this.cart.total_discount = data.total_discount;

                    this.$dispatch('carttotalitems', data.item_count);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        },

        /**
         * @param key
         * @param quantity
         */
        increaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) + 1);
        },

        /**
         * @param key
         * @param quantity
         */
        decreaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param key
         * @param quantity
         */
        updateCartItemQuantity(key, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): key, quantity: ', key, quantity);
            this.cart.items.filter((product)  => {
                if(product.key === key) {
                    product.quantity = quantity
                }
            })
            let updates = {};
            updates[key] = quantity;
            fetch(window.Shopify.routes.root + 'cart/update.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ updates }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            //console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cart.response.result = event.detail ?? {}
                this.cart.response.show = true
                setTimeout(() => {
                    this.cart.response.result = {};
                    this.cart.response.show = false
                }, this.cart.response.timeout ?? 5000)
            }
        },

        async returnCartItems() {
            await this.getCart();

            this.$dispatch('currentcartitems', this.cart.items);
        },

        /**
         * @deprecated
         */
        set open(open) { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "set open" in mini_cart')
        },
        /**
         * @deprecated
         */
        get open() { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "get open" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set note(note) { // deprecated
            //console.warn('Deprecated "set note" in mini_cart')
            this.cart.note = note;
        },
        /**
         * @deprecated
         */
        get note() { // deprecated
            //console.warn('Deprecated "get note" in mini_cart')
            return this.cart.note;
        },
        /**
         * @deprecated
         */
        set attributes(attributes) { // deprecated
            //console.warn('Deprecated "set attributes" in mini_cart')
            this.cart.attributes = attributes;
        },
        /**
         * @deprecated
         */
        get attributes() { // deprecated
            //console.warn('Deprecated "get attributes" in mini_cart')
            return this.cart.attributes;
        },
        /**
         * @deprecated
         */
        set original_total_price(original_total_price) { //deprecated
            //console.warn('Deprecated "set original_total_price" in mini_cart')
            this.cart.original_total_price = original_total_price;
        },
        /**
         * @deprecated
         */
        get original_total_price() { //deprecated
            //console.warn('Deprecated "get original_total_price" in mini_cart')
            return this.cart.original_total_price;
        },
        /**
         * @deprecated
         */
        set total_price(total_price) { //deprecated
            //console.warn('Deprecated "set total_price" in mini_cart')
            this.cart.total_price = total_price;
        },
        /**
         * @deprecated
         */
        get total_price() { //deprecated
            //console.warn('Deprecated "get total_price" in mini_cart')
            return this.cart.total_price;
        },
        /**
         * @deprecated
         */
        set total_discount(total_discount) { //deprecated
            //console.warn('Deprecated "set total_discount" in mini_cart')
            this.cart.total_discount = total_discount;
        },
        /**
         * @deprecated
         */
        get total_discount() { //deprecated
            //console.warn('Deprecated "get total_discount" in mini_cart')
            return this.cart.total_discount;
        },
        /**
         * @deprecated
         */
        set total_weight(total_weight) { //deprecated
            //console.warn('Deprecated "set total_weight" in mini_cart')
            this.cart.total_discount = total_weight;
        },
        /**
         * @deprecated
         */
        get total_weight() { //deprecated
            //console.warn('Deprecated "get total_weight" in mini_cart')
            return this.cart.total_weight;
        },
        /**
         * @deprecated
         */
        set item_count(item_count) { //deprecated
            //console.warn('Deprecated "set item_count" in mini_cart')
            this.cart.total_discount = item_count;
        },
        /**
         * @deprecated
         */
        get item_count() { //deprecated
            //console.warn('Deprecated "get item_count" in mini_cart')
            return this.cart.item_count;
        },
        /**
         * @deprecated
         */
        set items_subtotal_price(items_subtotal_price) { //deprecated
            //console.warn('Deprecated "set items_subtotal_price" in mini_cart')
            this.cart.items_subtotal_price = items_subtotal_price;
        },
        /**
         * @deprecated
         */
        get items_subtotal_price() { //deprecated
            //console.warn('Deprecated "get items_subtotal_price" in mini_cart')
            return this.cart.items_subtotal_price;
        },
        /**
         * @deprecated
         */
        set products(products) {
            //console.warn('Deprecated "set products" in mini_cart')
            this.cart.items = products;
        },
        /**
         * @deprecated
         */
        get products() {
            //console.warn('Deprecated "get products" in mini_cart')
            return this.cart.items;
        },
        /**
         * @deprecated
         */
        set requires_shipping(requires_shipping) {
            //console.warn('Deprecated "set requires_shipping" in mini_cart')
        },
        /**
         * @deprecated
         */
        get requires_shipping() {
            //console.warn('Deprecated "get requires_shipping" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set currency(currency) { //deprecated
            //console.warn('Deprecated "set currency" in mini_cart')
            this.cart.currency = currency;
        },
        /**
         * @deprecated
         */
        get currency() { //deprecated
            //console.warn('Deprecated "get currency" in mini_cart')
            return this.cart.currency;
        },
        /**
         * @deprecated
         */
        set cart_level_discount_applications(cart_level_discount_applications) { //deprecated
            //console.warn('Deprecated "set cart_level_discount_applications" in mini_cart')
            this.cart.cart_level_discount_applications = cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        get cart_level_discount_applications() { //deprecated
            //console.warn('Deprecated "get cart_level_discount_applications" in mini_cart')
            return this.cart.cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        set cartApiResponse(cartApiResponse) { //deprecated
            //console.warn('Deprecated "set cartApiResponse" in mini_cart')
            this.cart.cartApiResponse = cartApiResponse;
        },
        /**
         * @deprecated
         */
        get cartApiResponse() { //deprecated
            //console.warn('Deprecated "get cartApiResponse" in mini_cart')
            return this.cart.response;
        },
        /**
         * @deprecated
         */
        set total(total) { //deprecated
            //console.warn('Deprecated "set total" in mini_cart')
            this.cart.item_count = total.items;
            this.cart.total_price = total.price;
            this.cart.total_weight = total.weight;
            this.cart.total_discount = total.discount;
        },
        /**
         * @deprecated
         */
        get total() { //deprecated
            //console.warn('Deprecated "get total" in mini_cart')
            return {
                items: this.cart.item_count,
                price: this.cart.total_price,
                weight: this.cart.total_weight,
                discount: this.cart.total_discount,
            };
        }
    }))


});

</script>
<div id="mini-cart-dialog" li-element="mini-cart" class="mini-cart_component" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage" @getcartitems.window="returnCartItems"><div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }"><div class="mini-cart_header"><div id="mini-cart-title" class="heading-style-h2">Cart</div><div id="close-cart" li-element="dropdown-toggle" aria-label="Close Cart" class="nav-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><div class="plus-icon modal-version"><svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" viewbox="0 0 24 24" fill="none" app="ikonik" class="plus-paths"><path d="M13 6.5V11L17.5 11V13L13 13V17.5H11L11 13L6.5 13L6.5 11H11L11 6.5L13 6.5Z" fill="currentColor" app="ikonik" class="plus-path"></path></svg></div></div></div><div class="mini-cart_line-item no-scrollbar"><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item"><img class="mini-cart_line-item_img" src="../images/BlackSoap-MallowRoot.jpg" alt="" sizes="(max-width: 1536px) 100vw, 1536px" loading="lazy" srcset="{{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-500.jpg' | asset_url }} 500w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-800.jpg' | asset_url }} 800w, {{ '7814e0567c58117f2adde30d02733a17_BlackSoap-MallowRoot-p-1080.jpg' | asset_url }} 1080w, {{ 'BlackSoap-MallowRoot.jpg' | asset_url }} 1536w" x-bind:src="product.image">
<div class="mini-cart_line-item_product-info"><div li-js-object="product.title" class="text-size-regular text-weight-semibold cardo" x-text="product.title">Product Title</div><div class="mini-cart_line-item_price"><div li-js-price="product.price" class="text-size-small" x-text="LiquifyHelper.moneyFormat(product.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div><template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        <div li-js-price="product.original_price" class="text-size-small text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(product.original_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>        </div>
    </template>
</div><div class="mini-cart_line-item_quantity"><a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.key, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust white" value="1" :productprop="product" @input="$dispatch('setcartitem', { product: product.key, quantity: product.quantity })" x-model="product.quantity">
<a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.key, quantity: product.quantity, action: 'increase' })">+</a></div><div li-element="mini-cart-item-remove" class="text-size-tiny text-color-grey text-style-link cart" :productprop="product" @click="$dispatch('setcartitem', { product: product.key, quantity: 0 })">Remove</div></div></li></template>
</ul></div><div class="mini-cart_footer"><div class="mini-cart_footer-total"><div class="text-size-regular text-weight-semibold">Subtotal</div><div class="mini-cart_footer-price"><div li-js-price="total.price" class="text-size-regular text-weight-semibold" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        <div li-js-price="original_total_price" class="text-size-regular text-weight-semibold text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>        </div>
    </template>
</div></div><div li-element="mini-cart-api-response" class="mini-cart_footer-message hide"><div class="mini-cart_footer-message-item"><div class="text-size-regular text-weight-semibold">Message</div><div li-js-object="cartApiResponse?.result?.message" class="text-size-regular text-weight-semibold" x-text="cartApiResponse?.result?.message">14,99 $</div></div></div><a button-hover="" x-bind:href="'/checkout'" href="#" class="button w-button">Checkout</a><a hover-button="" li-object:href="routes.cart_url" href="{{ routes.cart_url }}" class="button is-secondary w-button">Cart</a></div></div><div li-cloak="hide" li-element="mini-cart-empty" class="mini-cart_empty" :style="total.items && { display: 'none' }"><div class="mini-cart_header"><div class="heading-style-h3">Cart</div><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></button></div><div class="mini-cart_empty-content"><div class="text-size-regular">No Products selected</div></div></div></div></div> {% schema %} {"tag":"div","name":"navbar-default","class":"section_navbar","blocks":[{"name":"Search - Suggestion","type":"search-suggestion","settings":[{"id":"url_link_item","type":"url","label":"link-item"},{"id":"text_text_item","type":"text","label":"text-item","default":"Tag"}]},{"type":"@app"}],"settings":[{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6},{"id":"url_discover_the_brand_all_products","type":"url","label":"discover-the-brand-all-products"},{"id":"url_best_sellers_nav_link","type":"url","label":"best-sellers-nav-link"},{"id":"url_our_story_nav_link","type":"url","label":"our-story-nav-link"},{"id":"url_shop_all_mobile_menu_link","type":"url","label":"shop-all-mobile-menu-link"},{"id":"url_our_story_link_mobile","type":"url","label":"our-story-link-mobile"},{"id":"url_sign_in_link_mobile","type":"url","label":"sign-in-link-mobile"},{"id":"collection_search_bestseller_desktop","type":"collection","label":"Search - Bestseller Desktop"},{"type":"range","id":"collection_search_bestseller_desktop_limit","min":1,"max":99,"step":1,"label":"Limit: Search - Bestseller Desktop","default":6}],"presets":[{"name":"navbar-default","category":"Liquify","blocks":[{"type":"search-suggestion"}]}]} {% endschema %}