<div class="padding-global padding-section-large account"><div class="container-large-dual"><div class="cart_grid-wrapper"><div class="cart_table outline-solid-1"><div class="cart_grid is-header is-order"><div id="w-node-_3e22c132-b564-f619-6d85-452855d31288-0eb6197b" class="text-regular-allcaps way-smaller order">Name</div><div id="w-node-_3e22c132-b564-f619-6d85-452855d3128a-0eb6197b" class="text-regular-allcaps way-smaller order">Quantity</div><div id="w-node-_3e22c132-b564-f619-6d85-452855d3128c-0eb6197b" class="text-regular-allcaps hide-mobile-portrait way-smaller order">Price</div><div id="w-node-_3e22c132-b564-f619-6d85-452855d3128e-0eb6197b" class="text-regular-allcaps way-smaller order">Sum</div></div>{% for item in order.line_items %}    <div li-for="item in order.line_items" class="cart_grid is-order">
                                    
                            <div li-object="item.product.title" id="w-node-_3e22c132-b564-f619-6d85-452855d31291-0eb6197b" class="text-regular-allcaps order">{{ item.product.title }}</div>
                            
                            <div li-object="item.quantity" id="w-node-_3e22c132-b564-f619-6d85-452855d31293-0eb6197b" class="text-regular-allcaps order">{{ item.quantity }}</div>
                            
                            <div li-object="item.unit_price" id="w-node-_3e22c132-b564-f619-6d85-452855d31295-0eb6197b" class="text-regular-allcaps hide-mobile-portrait order">{{ item.unit_price }}</div>
                            
                            <div li-object="item.final_line_price | money" id="w-node-_3e22c132-b564-f619-6d85-452855d31297-0eb6197b" class="text-regular-allcaps order">{{ item.final_line_price | money }}</div>
                            
                        </div>
{% endfor %}<div><div class="order_line"><div class="text-regular-allcaps order">Subtotal</div><div li-object="order.subtotal_price | money" class="text-regular-allcaps order">{{ order.subtotal_price | money }}</div></div>{% for line_item in order.line_items %}    <div li-for="line_item in order.line_items">
                                    
                            {% for discount in line_item.discount_allocations %}    <div li-for="discount in line_item.discount_allocations" class="order_line">
                                    
                            <div li-object="discount.discount_application.title" class="text-regular-allcaps order">{{ discount.discount_application.title }}</div>
                            
                            <div li-object="discount.amount | money" class="text-regular-allcaps order">{{ discount.amount | money }}</div>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for shipping_line in order.shipping_lines %}    <div li-for="shipping_line in order.shipping_lines" class="order_line">
                                    
                            <div li-object="shipping_line.title" class="text-regular-allcaps order">{{ shipping_line.title }}</div>
                            
                            <div li-object="shipping_line.price | money" class="text-regular-allcaps order">{{ shipping_line.price | money }}</div>
                            
                        </div>
{% endfor %}{% for tax_line in order.tax_lines %}    <div li-for="tax_line in order.tax_lines" class="order_line">
                                    
                            <div class="display-inlineflex"><div li-object="tax_line.title" class="text-regular-allcaps order">{{ tax_line.title }}</div><div class="text-regular-allcaps order">(<span li:object="tax_line.rate | times: 100">19</span>)</div></div>
                            
                            <div li-object="tax_line.price | money" class="text-regular-allcaps order">{{ tax_line.price | money }}</div>
                            
                        </div>
{% endfor %}<div class="order_line"><div class="text-regular-allcaps order text-weight-semibold">Total</div><div li-object="order.total_price | money" class="text-regular-allcaps order text-weight-semibold">{{ order.total_price | money }}</div></div></div></div><div id="w-node-_3e22c132-b564-f619-6d85-452855d312ba-0eb6197b" class="cart_table outline-solid-1"><div class="cart_grid is-header"><div id="w-node-_3e22c132-b564-f619-6d85-452855d312bc-0eb6197b" class="cart_table-header"><div class="text-regular-allcaps way-smaller order">Customer Information</div></div></div><div class="addresses_account-wrapper-3 content-grid"><div class="order_wrapper-2 vertical-align no-space"><div li-object="order.name" class="text-regular-allcaps order text-weight-semibold">{{ order.name }}</div><div li-object="order.created_at | date: '%e.%m.%Y'" class="text-regular-allcaps normal-cap">{{ order.created_at | date: '%e.%m.%Y' }}</div>{% if order.cancelled == true %}    <div li-if="order.cancelled == true" class="order_wrapper-2 vertical-align">
    <div class="text-regular-allcaps order text-weight-semibold">Cancelled On: </div><div li-object="order.cancelled_at | date: '%e.%m.%Y'" class="text-regular-allcaps normal-cap">{{ order.cancelled_at | date: '%e.%m.%Y' }}</div>    </div>
{% endif %}<div liquid:if="order.cancelled == true" class="order_wrapper-2 vertical-align"><div class="text-regular-allcaps order text-weight-semibold">Reason: </div><div li-object="order.cancel_reason_label" class="text-regular-allcaps normal-cap">{{ order.cancel_reason_label }}</div></div></div><div class="order_wrapper-2 vertical-align no-space"><div class="text-regular-allcaps order text-weight-semibold">Billing Address:</div><div li-object="order.billing_address | format_address" class="text-regular-allcaps normal-cap">{{ order.billing_address | format_address }}</div></div><div id="w-node-_3e22c132-b564-f619-6d85-452855d312da-0eb6197b" class="order_wrapper-2 vertical-align no-space"><div class="text-regular-allcaps order text-weight-semibold">Shipping Address:</div><div li-object="order.shipping_address | format_address" class="text-regular-allcaps normal-cap">{{ order.shipping_address | format_address }}</div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Order","class":"section_account","presets":[{"name":"Order","category":"Liquify","blocks":[]}]} {% endschema %}